{
  "baseUrl": "https://tao.docker.localhost",
  "fixturesFolder": "cypress/fixtures",
  "integrationFolder": "../..",
  "screenshotsFolder": "cypress/screenshots",
  "supportFile": "cypress/support",
  "pluginsFile": "node_modules/@oat-sa/e2e-runner/plugins",
  "testFiles": "**/views/cypress/tests/**/*.spec.js",
  "video": false,
  "videosFolder": "cypress/videos",
  "pageLoadTimeout": 30000,
  "env": {
    "configFile": "cypress/envs/env.json"
  }
}
