<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<link type="text/css" href="css/overcast/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript">
			$(function(){
				$('#tabs').tabs();
			});
	</script>
	<style type="text/css">
		body{position:absolute; height:100%; width:100%; margin: 0px; padding: 0px;}
		div#tabs div.container{}
		div#tabs{position:relative; margin: 50px 10px 0px 10px; height: 82%; overflow-y: auto;}
	</style>
</head>
<body>
	<img src="img/TAO_mention_EN_30x22mm.gif" alt="logo" style="position: absolute; right: 10px; top: 5px;" />
	<br />
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Subjects</a></li>
			<li><a href="#tabs-2">Groups</a></li>
			<li><a href="#tabs-3">Items</a></li>
			<li><a href="#tabs-4">Tests</a></li>
			<li><a href="#tabs-5">Results</a></li>
		</ul>
		<div id="tabs-1" class="container">
			<div class="ui-state-highlight ui-corner-all" style="width:100%; text-align:center;">
				<h3 style="font-style:italic;color:#D2184B;">subjects</h3>
			</div>
			<br />
			<table style='width: 100%;'>
				<tbody>
					<tr>
						<td>* Student</td>
						<td><a href='#'>Load</a> :: <a href='#'>Edit</a></td>
					</tr>
					<tr>
						<td>* Teacher</td>
						<td><a href='#'>Load</a> :: <a href='#'>Edit</a></td>
					</tr>
					<tr>
						<td>* Employee</td>
						<td><a href='#'>Load</a> :: <a href='#'>Edit</a></td>
					</tr>
					<tr>
						<td>+ Custom</td>
						<td><a href='#'>Load</a> :: <a href='#'>Edit</a> :: <a href='#'>Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="tabs-2" class="container">
			Groups container
		</div>
		<div id="tabs-3" class="container">
			Items container
		</div>
		<div id="tabs-4" class="container">
			Tests container
		</div>
		<div id="tabs-5" class="container">
			Results container
		</div>
	</div>
	<br />
	<div style="width:100%; text-align:right;">
	<span class="ui-state-default ui-corner-all" style="padding:5px;margin-right:10px;"><a href="#"> Advanced mode</a></span>
	</div>
</body>
</html>