/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
.action-bar {
  background: #266d9c;
  padding: 3px;
  overflow: hidden;
  margin-bottom: 5px; }
  .action-bar li {
    float: left; }
    .action-bar li a {
      padding-bottom: 1px;
      color: #e6eef4;
      text-decoration: none !important; }
      .action-bar li a:hover {
        color: white; }
    .action-bar li span {
      text-shadow: 0 0 0 transparent;
      color: white; }
  .action-bar.tree-action-bar {
    overflow: hidden; }
    .action-bar.tree-action-bar li {
      margin: 1px;
      text-align: center;
      float: left; }
      .action-bar.tree-action-bar li span {
        display: block; }
  .action-bar.content-action-bar {
    padding: 5px 15px;
    overflow: hidden; }
    .action-bar.content-action-bar li {
      margin: 0 1px;
      border: 1px transparent solid;
      text-align: center;
      float: left; }
      .action-bar.content-action-bar li a {
        line-height: 23px;
        display: block; }
      .action-bar.content-action-bar li span {
        padding-right: 5px; }
      .action-bar.content-action-bar li:hover {
        border-color: #568db2;
        opacity: 1; }
  .action-bar.search-action-bar .tree-filters {
    width: 70%;
    float: left;
    position: relative; }
    .action-bar.search-action-bar .tree-filters input {
      width: 100%;
      padding-right: 24px; }
    .action-bar.search-action-bar .tree-filters span {
      position: absolute;
      right: 3px;
      color: #555;
      top: 2px;
      width: 24px;
      line-height: 24px;
      display: inline-block;
      text-align: center;
      text-shadow: 0 0 0 transparent;
      border-left: 1px solid #ddd;
      cursor: pointer; }
      .action-bar.search-action-bar .tree-filters span.icon-close {
        display: none; }
      .action-bar.search-action-bar .tree-filters span:hover {
        color: #0e5d91; }
  .action-bar.search-action-bar .tree-search {
    width: 30%;
    float: left;
    margin-top: 5px;
    text-align: center; }
    .action-bar.search-action-bar .tree-search a {
      color: white; }
