/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
#login-box {
  width: 400px;
  margin: 40px auto 0;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #f3f1ef; }
  #login-box h1 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 20px; }
  #login-box .form-error {
    display: none; }
  #login-box #connect {
    line-height: 1.8;
    height: 25px;
    background-color: #266d9c;
    text-shadow: 1px 1px 0 #0b4a74; }
