/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
.section-container {
  top: 0 !important; }
  .section-container .content-panel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .section-container .tab-container {
    height: 30px;
    border: none;
    display: none;
    background: #f2f0ee; }
    .section-container .tab-container.ui-tabs-nav {
      display: block; }
    .section-container .tab-container a {
      top: 0 !important; }
    .section-container .tab-container li.ui-state-disabled {
      display: none; }
  .section-container .navi-container {
    background: #f2f0ee;
    width: 280px;
    -webkit-flex: 0 0 280px;
    -ms-flex: 0 0 280px;
    flex: 0 0 280px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  .section-container .content-container {
    border: none;
    border-left: 1px white solid;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; }
    .section-container .content-container > .ui-tabs-panel {
      border: none !important; }
      .section-container .content-container > .ui-tabs-panel #form-title {
        font-size: 20px;
        font-size: 2rem;
        margin: 10px 0;
        border: none !important; }
