@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/tao\/views\/scss\/qti\/order-interaction\.scss}line{font-family:\000032}}
.tao-scope .qti-choice {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/tao\/views\/scss\/qti\/order-interaction\.scss}line{font-family:\000034}}
  .tao-scope .qti-choice .pseudo-label {
    cursor: pointer;
    margin-left: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/tao\/views\/scss\/qti\/order-interaction\.scss}line{font-family:\000038}}
  .tao-scope .qti-choice .real-label {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
