@import "inc/bootstrap";

$playerActionSize: 2.2rem;
$playerActionSpace: 1rem;
$playerBackground: black();
$playerBorder: $darkBar;
$playerText: #999;
$playerIcon: $darkBarIcon;
$playerTextOverlay: white();
$playerSliderBorder: $uiGeneralContentBorder;
$playerSliderBackground: $uiGeneralContentBg;
$playerSliderColor: $darkBar;
$playerSliderHandle: whiten($playerSliderColor, .4);
$playerSliderHightlight: whiten($playerSliderColor, .2);

.mediaplayer {
    position: relative;
    @include simple-border($playerBorder);
    @include border-radius(2);
    background: $playerBackground;

    .icon-sound:before {
        @include icon-audio();
    }
    .icon-mute:before {
        @include icon-result-nok();
    }

    .error {
        display: none;
    }

    .player {
        position: relative;

        iframe {
            pointer-events: none;
        }

        .overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
            background: transparent none;
        }

        .action {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
            margin-top: -32px;
            margin-left: -32px;
            text-align: center;
            text-decoration: none;
            display: none;
            @include font-size(64);
            color: $playerTextOverlay;

            .icon {
                @include border-radius(10);
                padding: 6px 12px;
                background-color: $playerBackground;
                opacity: 0.2;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .controls {
        visibility: hidden;
        position: relative;
        padding: 5px;
        display: table;
        table-layout: fixed;
        width: 100%;
        border-top: 1px solid $playerBorder;

        .bar {
            display: table-row;
        }
        .control {
            display: table-cell;
        }

        .actions {
            position: relative;
            @include transition(all, 0.1,ease-in-out);

            .action {
                text-align: center;
                line-height: $playerActionSize;
                width: $playerActionSize;
                height: $playerActionSize;
                text-decoration: none;
                color: $playerIcon;
                @include transition(all, 0.2, ease-in-out);

                &:hover {
                    opacity: 1;
                }

                .icon {
                    line-height: $playerActionSize;
                }
            }

            .play {
                opacity: 0.7;
                border-right: 1px solid $playerBorder;
            }

            .mute {
                opacity: 0.8;
                border-left: 1px solid $playerBorder;
            }
        }

        .slider {
            cursor: pointer;
            @include simple-border($playerSliderBorder);
            @include border-radius(10);
            @include transition(all, 0.1, ease-in-out);
            background: $playerSliderBackground;

            .noUi-background {
                @include border-radius(10);
                background: $playerSliderBackground;
            }
            &.noUi-connect, .noUi-connect {
                @include border-radius(10);
                background: $playerSliderColor;
            }

            .noUi-handle {
                width: 11px;
                height: 11px;
                @include simple-border($playerSliderBorder);
                @include border-radius(10);
                background: $playerSliderHandle;
            }
            .noUi-handle:hover {
                background: $playerSliderHightlight;
            }
            .noUi-handle:after {
                display: none;
            }

            &.noUi-horizontal {
                height: 9px;

                .noUi-handle {
                    top: -2px;
                }
            }

            &.noUi-vertical {
                width: 9px;

                .noUi-handle {
                    left: -2px;
                }
            }
        }

        .infos {
            cursor: default;

            margin: 0 $playerActionSpace;
            line-height: $playerActionSize;

            color: $playerText;
            @include font-size(10);
            font-weight: bold;

            [data-control="time-end"]:before {
                content: ' / ';
            }
        }

        .timer {
            width: 8rem;
            text-align: center;
        }

        .seek {
            position: relative;
            height: 1rem;
            margin-top: 5px;
            padding-left: $playerActionSpace;
        }

        .playback {
            margin-right: $playerActionSpace;
            width: $playerActionSize;
        }

        .sound {
            width: $playerActionSize;
            height: $playerActionSize;


            .volume {
                cursor: default;
                position: absolute;
                z-index: 3;
                background-color: $playerBackground;
                padding: 0 10px 0 10px;
                height: 0;
                top: 0;
                left: -1px;
                opacity : 0;
                border: solid 1px $playerBorder;
                @include vendor-prefix(transition, 'height 300ms ease-out, top 300ms ease-out, opacity 50ms linear 250ms', property);

                &.up, &.down {
                    height: 120px;
                    padding: 10px 10px 5px 10px;
                    opacity : 1;
                    .slider {
                        opacity : 1;
                        transition: opacity 50ms linear 200ms;
                        @include vendor-prefix(transition, 'opacity 50ms linear 200ms', property);
                    }
                }
                &.up {
                    top: -125px;
                     @include vendor-prefix(transition, 'height 300ms ease-out 50ms, top 300ms ease-out 50ms, opacity 50ms linear', property);
                }
                &.down {
                    top: 29px;
                     @include vendor-prefix(transition, 'height 300ms ease-out 50ms, opacity 50ms linear', property);
                }
            }

            .slider {
                opacity : 0;
                .noUi-handle {
                    cursor: pointer;
                    width: 9px;
                    height: 9px;
                }

                &.noUi-horizontal {
                    width: 50px;
                    height: 7px;
                }

                &.noUi-vertical {
                    width: 7px;
                    height: 100px;
                }
            }
        }

        [data-control="play"] {
            display: none;
        }
        [data-control="pause"] {
            display: none;
        }

        [data-control="mute"] {
            display: inline-block;
        }
        [data-control="unmute"] {
            display: none;
        }
    }

    &.video, &.youtube {
        .sound {
            .volume {
                width: $playerActionSize;
                bottom: $playerActionSize;
                right: 0;
            }
        }
    }

    &.audio {
        .sound {
            .volume {
                height: $playerActionSize;
                right: $playerActionSize;
                bottom: 0;
            }
        }
    }

    &.ready {
        .controls {
            visibility: visible;
        }

        &.paused.canplay {
            .overlay {
                cursor: pointer;
            }

            .player:hover {
                [data-control="play"] {
                    display: inline-block;
                }
            }

            &.youtube.ended {
                .player:hover {
                    [data-control="play"] {
                        display: none;
                    }
                }
            }
        }

        &.playing.canpause {
            .overlay {
                cursor: pointer;
            }

            .player:hover {
                [data-control="pause"] {
                    display: inline-block;
                }
            }
        }
    }

    &.playing.canpause {
        .controls {
            [data-control="pause"] {
                display: inline-block;
            }
        }
    }

    &.paused.canplay {
        .controls {
            [data-control="play"] {
                display: inline-block;
            }
            [data-control="pause"] {
                display: none;
            }
        }
    }

    &.muted {
        .controls {
            [data-control="mute"] {
                display: none;
            }
            [data-control="unmute"] {
                display: inline-block;
            }
        }
    }

    &.nogui {
        .player {
            iframe {
                pointer-events: inherit;
            }
        }
        .overlay {
            display: none !important;
        }
        .controls {
            display: none !important;
        }
    }

    &.error {
        .media, .controls {
            display: none;
        }

        .error {
            display: table;
            text-align: center;
            width: 100%;
            height: 100%;

            .message {
                color: $error;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    &.loading::before {
        @keyframes spinner {
            to { transform: rotate(360deg); }
        }

        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        border: 1px solid #ccc;
        border-top-color: #07d;
        animation: spinner .6s linear infinite;
    }
}
