@import "inc/bootstrap";

$foreground: $darkBarTxt;
.pulsable {
    display: block;
    border-radius: 250%;
    position: absolute;
    background: $foreground;
    z-index: 10;
    width: 1px;
    height: 1px;
    top: 0px;
    left: 0px;
    @include keyframes(pulsable-pulse) {
        0% {
            opacity: 0;
            box-shadow: 0 0 0 0 rgba($foreground, 0.9);
        }
        50% {
            opacity: 0.3;
            box-shadow: 0 0 0 180px rgba($foreground, 0.6);
        }
        100% {
            opacity: 0.3;
            box-shadow: 0 0 0 0 rgba($foreground, 0);
        }
    }
    &.animate{
        @include animation(pulsable-pulse 1s ease-out 3);
    }
}