@import "inc/bootstrap";

$foreground: $darkBarTxt;
.pulsable {
    display: block;
    border-radius: 250%;
    position: absolute;
    background: $foreground;
    z-index: 1;//create a stacking context to ensure it is display on top of its container
    width: 1px;
    height: 1px;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 0 rgba($darkBarTxt, 0.6);
    @include keyframes(pulsable-pulse) {
        0% {box-shadow: 0 0 0 0 rgba($darkBarTxt, 0.6)}
        50% {box-shadow: 0 0 0 200px rgba($darkBarTxt, 0)}
        100% {box-shadow: 0 0 0 0 rgba($darkBarTxt, 0)}
    }
    &.animate{
        @include animation(pulsable-pulse 1s ease-out 3);
    }
}