/* center panel */
#installation_form{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-240px;
	margin-left:-390px;
}

#warning_msg{
	position:relative;
	width:400px;
	margin:0 auto;
	font-size:12px;
	margin-top:180px;
	line-height:18px;
	font-weight:bold;
}

.embedWarning{
	float:left;
	position:relative;
	margin:5px 7px 0 0;
}

#go_to_tao_bt{
	display:block;
	width:155px;
	padding:2px 8px;
	text-decoration: none;
	background:#009933;
	margin:25px auto;
	font-size:12px;
	text-align: center;
	height:25px;
	line-height:25px;
	font-weight:bold;
	color:white;
}

#go_to_tao_bt:hover{
	cursor: pointer;
}

#go_to_tao_bt:active{
	position: relative;
	left:1px;
	top:1px;
}