/* center panel */
html, body{
	height: 100%;
}

body{
	background-color: #eee;
	font-family: Verdana, Arial, sans-serif;
	color: #3A3A3A;
}

h1{
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}

#main{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-240px;
	margin-left:-390px;
	background-color: white;
	width: 740px;
	padding: 40px;
	background-image: url(../images/machine.png);
	background-repeat: no-repeat;
	background-position: 520px 30px;
}

#content{
	width:400px;
}

#warning_msg{
	position:relative;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	text-align: justify;
	margin-bottom: 35px;
}

#warning_msg strong{
	font-weight: bold;	
}

.embedWarning{
	float:left;
	position:relative;
	margin:5px 7px 0 0;
}

#go_to_tao_bt{
	display:block;
	width:155px;
	padding:2px 8px;
	text-decoration: none;
	background:#009933;
	margin:0px auto;
	font-size:12px;
	text-align: center;
	height:25px;
	line-height:25px;
	font-weight:bold;
	color:white;
}

#go_to_tao_bt:hover{
	cursor: pointer;
}

#go_to_tao_bt:active{
	position: relative;
	left:1px;
	top:1px;
}