/* form check */
#forms_check_content{
	position: absolute;
	top: 190px;
	width: 585px;
	height: 253px;
	margin-left: 200px;
}

#deployment{
	margin: 100px 0 0 160px;
	visibility: hidden;	
}

#deployment span{
	position: relative;
	top: 3px;
	margin-left: 22px;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
}