#forms_content{
	position: absolute;
	top: 170px;
	margin-left: 200px;
}

ul{
	height: 250px;
}

#submitForm.disabled{
	width: 200px;
}

#submitForm.enabled{
	width: 120px;
}

#formComment{
	width: 330px;
}