/* form check */
#forms_check_content{
	position: absolute;
	top: 190px;
	width: 585px;
	margin-left: 200px;
}

#forms_check_content ul{
	margin-top: 45px;
	height:203px;
	overflow:auto;
	width:580px;
}

#forms_check_content form ul li{
	width:543px;
	padding:7px 5px 7px 10px;
	height:15px;
	margin: 4px 0 0 0;
	background:#e5e5e5;
	display:block;
	color: #3A3A3A;
}

#forms_check_content form ul li.tao-mandatory{
	border-left:5px solid #D31145;
}

#forms_check_content form ul li.tao-optional{
	border-left:5px solid #FCC52D;
}

#forms_check_content form ul li.tao-ok{
	border:none;
	background:none;
	background:url(../images/valide.png) no-repeat 307px -2px;
	margin-top:20px;
}

#forms_check_content form ul li#loadingCheck{
	width: 548px;
}

#forms_check_content form ul li label{
	font-weight:bold;
	color: #3A3A3A;
	padding-right: 25px;
}

#forms_check_content .icons{
	position:absolute;
	margin:0;
	right:4px;
	top:50%;
	margin-top:-11px;
}

#formComment{
	width: 260px;
	height: 8px;
}

#formComment p{
	padding-left:3px;
}

#explOptional{
	border-left:5px solid #FCC52D;
	width: 100px;
	display: inline;
}

#explMandatory{
	border-left:5px solid #D31145;
	width: 100px;
	margin-right:10px;
	display: inline;
}

#redoForm{
	position:absolute;
	right:145px;
	bottom:-30px;
	font-size: 0.8em;
	background:#e5e5e5;
	border-top:none;
	border:none;
	padding:5px;
	width: 85px;
}

#loadingCheck label{
	padding-left: 25px;
	padding-top: 3px;
}