.qti-associateInteraction {

  .result-area {
    width: 40%;
    margin: auto;
    overflow-x: hidden;
    ul {
      margin: auto;
      width: 40%;
      &:first-child {
        margin-left: 0
      }
      &.target.lft {
        position: relative;
        z-index:3;
      }

      &.target.rgt li {
        position: relative;
        z-index:1;
      }

      &.target.rgt li:before {
        content: '';
        background:#ccc;
        width: 1000px;
        height: 1px;
        position: absolute;
        left: -1005px;
        top: 50%
      }
    }
  }

}

