.qti-orderInteraction {

  .arrow-bar {
    text-align:center;
    span {
      margin: 3px auto;
      @include font-size(25);
      color: mix(#fff, $textColor, 50%);
      background:mix(#fff, $uiClickableDefaultBg, 50%);
      cursor : default;
      height: 40px;
      &.active {
        background:$uiClickableDefaultBg;
        cursor: pointer;
        color: $textColor;
        &:hover {
          color: $textHighlight;
          background: $uiClickableHoverBg;
        }
      }
    }
  }

  &.qti-vertical {
    .order-interaction-area {
      display: table;
      border-collapse:separate;
      border-spacing: 5px 5px 5px 0;
      width: 100%;
    }
    .icon-add-to-selection {
      @extend .icon-right;
    }
    .icon-remove-from-selection {
      @extend .icon-left;
    }
    .icon-move-before {
      @extend .icon-up;
    }
    .icon-move-behind {
      @extend .icon-down;
    }
    ul.source, ul.target,
    ol.source, ol.target {
      display:table-cell;
    }
    .arrow-bar {
      display:table-cell;
      width: 50px;
      vertical-align:middle;
      padding: 5px;
      span {
        padding: 8px 0;
        display:block;
      }
    }
  }

  &.qti-horizontal {
    .icon-add-to-selection {
      @extend .icon-down;
    }
    .icon-remove-from-selection {
      @extend .icon-up;
    }
    .icon-move-before {
      @extend .icon-left;
    }
    .icon-move-behind {
      @extend .icon-right;
    }
    .arrow-bar {
      margin-bottom: 10px;
      span {
        padding: 0 15px;
        display:inline-block;
        line-height: 1.6;
      }
    }
  }
}