@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro'),
         local('SourceSansPro-Regular'),
         url(data:application/x-font-woff;charset=utf-8;base64,) format('embedded-opentype'),
         url(data:application/x-font-woff;charset=utf-8;base64,) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Source Sans Pro Semibold'),
         local('SourceSansPro-Semibold'),
         url(data:application/vnd.ms-fontobject;charset=utf-8;base64,) format('embedded-opentype'),
         url(data:application/x-font-woff;charset=utf-8;base64,) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: normal;
    src: local('Source Sans Pro Semibold Italic'),
         local('SourceSansPro-SemiboldIt'),
         url(data:application/vnd.ms-fontobject;charset=utf-8;base64,) format('embedded-opentype'),
         url(data:application/x-font-woff;charset=utf-8;base64,) format('woff');
}
