/* reset commonly used properties */
.calcContainer,
.calcContainer form,
.calcContainer div,
.calcContainer input {
    background: none;
    border: 0;
    bottom: auto;
    clear: none;
    color: #000;
    display: block;
    float: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    height: auto;
    left: auto;
    line-height: 1;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    padding: 0;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    top: auto;
    visibility: visible;
    width: 100%;
}

.calcContainer form{
    height: 100%;
}

.calcContainer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.calcContainer form {
    border: 1px solid #ddd;
    float: left;
}

.calcContainer div {
    float: left;
}

.calcContainer input {
    float: left;
    height: 14%;
    text-align: center;
    width: 25%;
    cursor: pointer;
}

.calcContainer .calcDisplay {
    background-color: white;
    text-align: right;
    width: 100%;
    padding: 0.6rem;
    font-size: 2rem;
    height: 16%;
}

.calcContainer .calcFirst {
    clear: left;
}

.calcContainer .calcSubmit{
    color: #333 !important;
    text-shadow: none;
    font-weight: bold;
    border-radius: 0;
    background-color: #ddd;
}
.calcContainer .calcDigit{
    font-weight: bold;
}

.calcContainer input.triggered{
    background: cyan;
}