/* reset commonly used properties */
.calcContainer,
.calcContainer form,
.calcContainer .calcTitle,
.calcContainer div,
.calcContainer input {
    background: none;
    border: 0;
    bottom: auto;
    clear: none;
    color: #000;
    display: block;
    float: none;
    font-family: sans-serif;
    font-size: 100%;
    height: auto;
    left: auto;
    line-height: 1;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    padding: 0;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    top: auto;
    visibility: visible;
    width: auto;
}

/* self clearing */
.calcContainer {
    _height: 1%; /* IE6 */
    *min-height: 1px; /* IE7 (and IE6) */
}
.calcContainer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.calcContainer form {
    background-color: #d4d0c8;
    border: 1px solid #404040;
    float: left;
    font-size: small;
    *width: 17em; /* IE6 & IE7 need defined width */
}

.calcContainer .calcTitle {
    background-color: #0a246a;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 0.1em;
}

.calcContainer div {
    float: left;
    padding: 0.5em;
}

.calcContainer input {
    border: 1px solid #626262;
    float: left;
    /* set font here */
    height: 2.3em;
    margin: 0.1em;
    text-align: center;
    width: 3em;
}

.calcContainer .calcDisplay {
    background-color: #fff;
    height: 1.2em;
    text-align: right;
    width: 98%;
    *width: 15.2em;
    /* IE7 has problems with text inputs with text-align: right;
    and a percentage width in a floated parent (this rule applies to IE7 and below) */
}

.calcContainer .calcClear {
    font-size: 88%;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    width: 5.8em;
}

.calcContainer .calcFirst {
    clear: left;
}

.calcContainer .calcFunction {
    background-color: #e5e1d9;
    color: #f00;
}

.calcContainer .calcInput {
    background-color: #e5e1d9;
    color: #00f;
}

/*
IE and Opera shift the button text down and to the right on :active.
Opera also gives buttons a black border on :focus.
These styles seem to be impossible to override without changing the HTML.
*/
.calcContainer .calcFunction:active,
.calcContainer .calcInput:active {
    background-color: #f6f2ea;
    position: relative;
    left: 1px;
    top: 1px;
}