/*
    Document   : cards
    Created on : 9 oct. 2013, 10:58:45
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Aggregate all the cards styles

    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
    Document   : variables
    Created on : 8 oct. 2013, 16:04:51
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Variables used to change the theme (as far as possible)
*/
/*
    Document   : base
    Created on : 8 oct. 2013, 11:16:34
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
    Provides mixins and base style (link colors, etc.)
    
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
 * Mixins
 */
/*
 * Base Style
 */
/* line 87, ../sass/_base.scss */
.card {
  font-size: 1em;
  color: #333333;
  background-color: white;
}
/* line 77, ../sass/_base.scss */
.card ::-moz-focus-inner, .card :active, .card :focus, .card ::-moz-focus-inner {
  outline: 0;
  -moz-outline-style: none;
}

/* line 96, ../sass/_base.scss */
.card a {
  color: #666666;
  text-decoration: none;
  font-size: 1em;
}
/* line 100, ../sass/_base.scss */
.card a:hover {
  color: #d00239;
}

/* line 105, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: solid 1px #eeeeee;
  margin: 1em 0;
  padding: 0;
}

/* line 77, ../sass/_base.scss */
.actions ::-moz-focus-inner, .actions :active, .actions :focus, .actions ::-moz-focus-inner {
  outline: 0;
  -moz-outline-style: none;
}

/*
    Document   : layout
    Created on : 8 oct. 2013, 16:17:01
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Layout stylesheet
*/
/* line 9, ../sass/_layout.scss */
.nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5% 1% 0.5% 0.5%;
  position: relative;
}
/* line 14, ../sass/_layout.scss */
.nav h1, .nav h2, .nav h3, .nav h4, .nav h5 {
  margin: 0;
  display: inline-block;
}
/* line 19, ../sass/_layout.scss */
.nav .actions {
  margin: 0;
  position: absolute;
  top: 0;
}
/* line 24, ../sass/_layout.scss */
.nav .actions.right {
  right: 0;
}

/* line 30, ../sass/_layout.scss */
.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #333;
  margin: 0 0.5%;
  /* Form layout */
}
/* line 38, ../sass/_layout.scss */
.card > h1 {
  background-color: #eee;
  border: solid 1px #eee;
  padding: .5em;
  color: #d00239;
  font-size: 1em;
  font-weight: bolder;
  display: block;
  position: relative;
}
/* line 49, ../sass/_layout.scss */
.card .content {
  position: relative;
  border: solid 1px #eee;
  padding: .5em 2em .5em .5em;
  margin-top: .5em;
  min-height: 200px;
}
/* line 56, ../sass/_layout.scss */
.card .content > div {
  margin: .1em 0;
}
/* line 60, ../sass/_layout.scss */
.card .content > .help {
  position: absolute;
  top: .5em;
  right: 0;
  background-color: #d00239;
  color: #fff;
  margin-right: -10px;
  padding: .2em .4em;
  min-width: 18px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0 2px 4px #888;
  z-index: 600;
}
/* line 75, ../sass/_layout.scss */
.card .content > .help:after {
  border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #666666;
  border-style: solid;
  border-width: 3px 5px;
  content: " ";
  height: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
}
/* line 87, ../sass/_layout.scss */
.card .content > .help a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* line 93, ../sass/_layout.scss */
.card .content > .help span {
  display: none;
}
/* line 101, ../sass/_layout.scss */
.card .form-group {
  padding: .5em;
}
/* line 104, ../sass/_layout.scss */
.card .form-group > label {
  width: 30%;
  float: left;
}
/* line 109, ../sass/_layout.scss */
.card .form-group > div {
  margin-left: 30%;
}
/* line 113, ../sass/_layout.scss */
.card .form-group > label.after {
  float: none;
}
/* line 117, ../sass/_layout.scss */
.card .form-group .form-info {
  font-size: .9em;
  color: #555;
}

/*
    Document   : components
    Created on : 8 oct. 2013, 11:16:52
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Contains style related to components
*/
/* line 9, ../sass/_components.scss */
.card, .nav {
  /* Labels */
  /* States */
  /* ListBox  */
  /* toggler */
  /* Adder */
  /* Disabler */
  /* Closer */
  /* Incrementer */
  /* Flipper */
  /* Inputs */
  /* search input */
  /* Buttons */
  /* drop menu */
  /* InPlacer */
}
/* line 12, ../sass/_components.scss */
.card .label, .nav .label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 0;
  display: inline-block;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
  padding: .3em .4em;
}
/* line 21, ../sass/_components.scss */
.card .label.small, .nav .label.small {
  font-size: .9em;
  padding: .2em .3em;
}
/* line 28, ../sass/_components.scss */
.card .active, .nav .active {
  border: dashed 1px #d00239 !important;
}
/* line 31, ../sass/_components.scss */
.card .valid, .nav .valid {
  border: dashed 1px #009933 !important;
}
/* line 34, ../sass/_components.scss */
.card .placeholder, .nav .placeholder {
  border: dashed 1px #333 !important;
  min-height: 2em;
}
/* line 38, ../sass/_components.scss */
.card .ui-draggable, .nav .ui-draggable {
  cursor: move;
}
/* line 40, ../sass/_components.scss */
.card .ui-draggable:before, .nav .ui-draggable:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -224px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 44, ../sass/_components.scss */
.card .ui-sortable > *, .nav .ui-sortable > * {
  cursor: move;
}
/* line 46, ../sass/_components.scss */
/*.card .ui-sortable > *:before, .nav .ui-sortable > *:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -128px -48px;
  width: 16px;
  height: 16px;
  content: ' ';
}*/
/* line 53, ../sass/_components.scss */
.card ul.listbox, .nav ul.listbox {
  margin: .1em 0;
  padding: 0;
  list-style-type: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 60, ../sass/_components.scss */
.card ul.listbox > li, .nav ul.listbox > li {
  white-space: no-wrap;
  position: relative;
  min-width: 75%;
  border: solid 1px #cccccc;
  border-bottom-width: 0;
  vertical-align: top;
  margin: 0;
  padding: .3em 2em .3em .2em;
  background-color: #fafafa;
  min-height: 1.5em;
}
/* line 72, ../sass/_components.scss */
.card ul.listbox > li > .label, .nav ul.listbox > li > .label {
  position: absolute;
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 79, ../sass/_components.scss */
.card ul.listbox > li > [data-button-group], .nav ul.listbox > li > [data-button-group] {
  position: absolute;
  right: 2em;
}
/* line 84, ../sass/_components.scss */
.card ul.listbox > li > .closer, .nav ul.listbox > li > .closer {
  position: absolute;
  right: .5em;
}
/* line 88, ../sass/_components.scss */
.card ul.listbox > li > .label + .closer, .nav ul.listbox > li > .label + .closer {
  right: 3em;
}
/* line 92, ../sass/_components.scss */
.card ul.listbox > li:first-child, .nav ul.listbox > li:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 96, ../sass/_components.scss */
.card ul.listbox > li:last-child, .nav ul.listbox > li:last-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-width: 1px;
}
/* line 101, ../sass/_components.scss */
.card ul.listbox > li.placeholder, .nav ul.listbox > li.placeholder {
  background: none;
  margin: .5em;
  opacity: 0.6;
}
/* line 112, ../sass/_components.scss */
.card .toggler:hover, .nav .toggler:hover {
  color: #d00239;
}
/* line 116, ../sass/_components.scss */
.card .toggler:after, .nav .toggler:after {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px 0;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 120, ../sass/_components.scss */
.card .toggler.opened:after, .nav .toggler.opened:after {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 126, ../sass/_components.scss */
.card .toggled, .nav .toggled {
  display: none;
}
/* line 132, ../sass/_components.scss */
.card .adder:before, .nav .adder:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -16px -128px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 135, ../sass/_components.scss */
.card .adder:hover:before, .nav .adder:hover:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -32px -128px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 145, ../sass/_components.scss */
.card .disabled, .card *:disabled, .nav .disabled, .nav *:disabled {
  cursor: default;
  background-color: #ccc;
  color: #666;
}
/* line 153, ../sass/_components.scss */
.card .closer:before, .nav .closer:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -32px -192px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 158, ../sass/_components.scss */
.card [data-button-group], .nav [data-button-group] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 0;
  display: inline-block;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
}
/* line 166, ../sass/_components.scss */
.card [data-button-group] > a, .nav [data-button-group] > a {
  float: left;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: .2em .4em;
  border-width: 0 !important;
  border-right: solid 1px #999;
  color: #fff;
}
/* line 175, ../sass/_components.scss */
.card [data-button-group] > a.icon, .nav [data-button-group] > a.icon {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  padding: .1em;
}
/* line 182, ../sass/_components.scss */
.card [data-button-group] > a:last-child, .nav [data-button-group] > a:last-child {
  border-right-width: 0;
}
/* line 185, ../sass/_components.scss */
.card [data-button-group] > a.active, .nav [data-button-group] > a.active {
  background-color: #e90240;
  opatcity: 0.6;
}
/* line 195, ../sass/_components.scss */
.card input.incrementer, .nav input.incrementer {
  width: 30px;
  text-align: right;
}
/* line 198, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl, .nav input.incrementer ~ .incrementer-ctrl {
  display: inline-block;
  margin: 0 .5em 0 0;
  padding-left: 4px;
}
/* line 202, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a, .nav input.incrementer ~ .incrementer-ctrl > a {
  width: 16px;
}
/* line 204, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.inc, .nav input.incrementer ~ .incrementer-ctrl > a.inc {
  margin-top: -3px;
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 207, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.inc:hover, .card input.incrementer ~ .incrementer-ctrl > a.inc:focus, .card input.incrementer ~ .incrementer-ctrl > a.inc:active, .nav input.incrementer ~ .incrementer-ctrl > a.inc:hover, .nav input.incrementer ~ .incrementer-ctrl > a.inc:focus, .nav input.incrementer ~ .incrementer-ctrl > a.inc:active {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 212, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.inc.disabled, .nav input.incrementer ~ .incrementer-ctrl > a.inc.disabled {
  background-color: transparent !important;
  opacity: 0.5;
}
/* line 219, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.dec, .nav input.incrementer ~ .incrementer-ctrl > a.dec {
  margin-top: -2px;
  margin-left: -1px;
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 223, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.dec:hover, .card input.incrementer ~ .incrementer-ctrl > a.dec:focus, .card input.incrementer ~ .incrementer-ctrl > a.dec:active, .nav input.incrementer ~ .incrementer-ctrl > a.dec:hover, .nav input.incrementer ~ .incrementer-ctrl > a.dec:focus, .nav input.incrementer ~ .incrementer-ctrl > a.dec:active {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 228, ../sass/_components.scss */
.card input.incrementer ~ .incrementer-ctrl > a.dec.disabled, .nav input.incrementer ~ .incrementer-ctrl > a.dec.disabled {
  background-color: transparent  !important;
  opacity: 0.5;
}
/* line 240, ../sass/_components.scss */
.card .flip, .nav .flip {
  overflow: hidden;
}
/* line 243, ../sass/_components.scss */
.card .flip-back, .nav .flip-back {
  background-color: #ddd !important;
  display: none;
}
/* line 250, ../sass/_components.scss */
.card input[type=text], .card textarea, .nav input[type=text], .nav textarea {
  color: #333333;
  background-color: white;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  border: solid 1px #ccc;
  height: 1.8em;
  vertical-align: top;
  margin: 0;
  padding: .1em;
  width: 150px;
}
/* line 261, ../sass/_components.scss */
.card input[type=text].micro, .card textarea.micro, .nav input[type=text].micro, .nav textarea.micro {
  width: 30px;
}
/* line 264, ../sass/_components.scss */
.card input[type=text].mini, .card textarea.mini, .nav input[type=text].mini, .nav textarea.mini {
  width: 60px;
}
/* line 267, ../sass/_components.scss */
.card input[type=text].small, .card textarea.small, .nav input[type=text].small, .nav textarea.small {
  width: 90px;
}
/* line 270, ../sass/_components.scss */
.card input[type=text].big, .card textarea.big, .nav input[type=text].big, .nav textarea.big {
  width: 200px;
}
/* line 273, ../sass/_components.scss */
.card input[type=text]:active, .card textarea:active, .nav input[type=text]:active, .nav textarea:active {
  -webkit-box-shadow: 1px 1px 5px #999999;
  -moz-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999;
}
/* line 276, ../sass/_components.scss */
.card input[type=text]:focus, .card textarea:focus, .nav input[type=text]:focus, .nav textarea:focus {
  border: solid 1px #999;
}
/* line 279, ../sass/_components.scss */
.card input[type=text]:disabled, .card textarea:disabled, .nav input[type=text]:disabled, .nav textarea:disabled {
  background-color: #eee;
}
/* line 284, ../sass/_components.scss */
.card textarea, .nav textarea {
  height: 10em;
  width: 300px;
}
/* line 287, ../sass/_components.scss */
.card textarea.micro, .nav textarea.micro {
  width: 75px;
  height: 2em;
}
/* line 291, ../sass/_components.scss */
.card textarea.mini, .nav textarea.mini {
  width: 150px;
  height: 4em;
}
/* line 295, ../sass/_components.scss */
.card textarea.small, .nav textarea.small {
  width: 200px;
  height: 8em;
}
/* line 299, ../sass/_components.scss */
.card textarea.big, .nav textarea.big {
  width: 500px;
  height: 15em;
}
/* line 305, ../sass/_components.scss */
.card .dropdown, .nav .dropdown {
  position: relative;
  display: inline-block;
}
/* line 309, ../sass/_components.scss */
.card .dropdown:after, .nav .dropdown:after {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px 0;
  width: 16px;
  height: 16px;
  content: ' ';
  position: absolute;
  right: .4em;
  top: .4em;
  z-index: 200;
}
/* line 317, ../sass/_components.scss */
.card .dropdown select, .nav .dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #333333;
  background-color: white;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  position: relative;
  border: solid 1px #ccc;
  height: 1.8em;
  vertical-align: top;
  margin: 0;
  padding: .1em;
  width: 150px;
  background: transparent;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: '';
  z-index: 400;
  curosor: pointer;
}
/* line 337, ../sass/_components.scss */
.card .dropdown select.micro, .nav .dropdown select.micro {
  width: 30px;
}
/* line 340, ../sass/_components.scss */
.card .dropdown select.mini, .nav .dropdown select.mini {
  width: 60px;
}
/* line 343, ../sass/_components.scss */
.card .dropdown select.small, .nav .dropdown select.small {
  width: 90px;
}
/* line 346, ../sass/_components.scss */
.card .dropdown select.big, .nav .dropdown select.big {
  width: 200px;
}
/* line 349, ../sass/_components.scss */
.card .dropdown select:active, .nav .dropdown select:active {
  -webkit-box-shadow: 1px 1px 5px #999999;
  -moz-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999;
}
/* line 352, ../sass/_components.scss */
.card .dropdown select:focus, .nav .dropdown select:focus {
  border: solid 1px #999;
}
/* line 355, ../sass/_components.scss */
.card .dropdown select:disabled, .nav .dropdown select:disabled {
  background-color: #eee;
}
/* line 387, ../sass/_components.scss */
.card input.incrementer, .card input[data-increment], .nav input.incrementer, .nav input[data-increment] {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 366, ../sass/_components.scss */
.card input.incrementer ~ .ctrl, .card input[data-increment] ~ .ctrl, .nav input.incrementer ~ .ctrl, .nav input[data-increment] ~ .ctrl {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid 1px #ccc;
  border-left-width: 0;
  width: 24px;
  height: 1.8em;
  padding: .1em;
  cursor: pointer;
  background-color: #eee;
}
/* line 379, ../sass/_components.scss */
.card input.incrementer:focus + .ctrl, .card input[data-increment]:focus + .ctrl, .nav input.incrementer:focus + .ctrl, .nav input[data-increment]:focus + .ctrl {
  border-color: #999;
}
/* line 382, ../sass/_components.scss */
.card input.incrementer:active + .ctrl, .card input[data-increment]:active + .ctrl, .nav input.incrementer:active + .ctrl, .nav input[data-increment]:active + .ctrl {
  -webkit-box-shadow: 1px 1px 5px #999999;
  -moz-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999;
}
/* line 393, ../sass/_components.scss */
.card input[type=text].search, .nav input[type=text].search {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 366, ../sass/_components.scss */
.card input[type=text].search ~ .ctrl, .nav input[type=text].search ~ .ctrl {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid 1px #ccc;
  border-left-width: 0;
  width: 24px;
  height: 1.8em;
  padding: .1em;
  cursor: pointer;
  background-color: #eee;
}
/* line 379, ../sass/_components.scss */
.card input[type=text].search:focus + .ctrl, .nav input[type=text].search:focus + .ctrl {
  border-color: #999;
}
/* line 382, ../sass/_components.scss */
.card input[type=text].search:active + .ctrl, .nav input[type=text].search:active + .ctrl {
  -webkit-box-shadow: 1px 1px 5px #999999;
  -moz-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999;
}
/* line 396, ../sass/_components.scss */
.card input[type=text].search + .ctrl:before, .nav input[type=text].search + .ctrl:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -160px -112px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 402, ../sass/_components.scss */
.card button, .nav button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  font-size: 1.1em;
  color: #d00239;
  background-color: white;
  border: solid 2px #d00239;
  padding: .3em .6em;
  cursor: pointer;
}
/* line 412, ../sass/_components.scss */
.card button:active, .card button:focus, .card button:hover, .nav button:active, .nav button:focus, .nav button:hover {
  color: white;
  background-color: #d00239;
  font-size: 1em;
}
/* line 35, ../sass/_base.scss */
.card button:active a, .card button:focus a, .card button:hover a, .nav button:active a, .nav button:focus a, .nav button:hover a {
  color: white;
  font-weight: bold;
}
/* line 415, ../sass/_components.scss */
.card button.micro, .nav button.micro {
  font-size: .8em;
  padding: .1em .2em;
  border-width: 1px;
}
/* line 420, ../sass/_components.scss */
.card button.small, .nav button.small {
  font-size: .9em;
  padding: .2em .3em;
  border-width: 1px;
}
/* line 425, ../sass/_components.scss */
.card button.big, .nav button.big {
  font-size: 1.2em;
  padding: .4em .8em;
}
/* line 430, ../sass/_components.scss */
.card button:disabled, .nav button:disabled {
  background-color: #fd5481;
  cursor: inherit;
}
/* line 437, ../sass/_components.scss */
.card .dropmenu, .nav .dropmenu {
  position: absolute;
  z-index: 800;
}
/* line 440, ../sass/_components.scss */
.card .dropmenu.closed, .nav .dropmenu.closed {
  display: none;
}
/* line 444, ../sass/_components.scss */
.card .dropmenu ul, .nav .dropmenu ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #ccc;
  background-color: #fff;
}
/* line 451, ../sass/_components.scss */
.card .dropmenu ul li, .nav .dropmenu ul li {
  margin: 0;
  padding: .6em;
}
/* line 454, ../sass/_components.scss */
.card .dropmenu ul li.separator, .nav .dropmenu ul li.separator {
  padding: 0;
  margin: 0 .2em;
  height: 1px;
  background-color: #ccc;
}
/* line 460, ../sass/_components.scss */
.card .dropmenu ul li:hover, .nav .dropmenu ul li:hover {
  background-color: #eee;
  color: #d00239;
  cursor: pointer;
}
/* line 466, ../sass/_components.scss */
.card .dropmenu ul:before, .nav .dropmenu ul:before {
  position: absolute;
  display: block;
  content: '';
  border-color: transparent transparent #ccc  transparent;
  border-style: solid;
  border-width: 8px;
  height: 0;
  width: 0;
  left: 1em;
  top: -6px;
  z-index: 900;
}
/* line 479, ../sass/_components.scss */
.card .dropmenu ul:after, .nav .dropmenu ul:after {
  position: absolute;
  display: block;
  content: '';
  border-color: transparent transparent #fff  transparent;
  border-style: solid;
  border-width: 8px;
  height: 0;
  width: 0;
  left: 1em;
  top: -5px;
  z-index: 1000;
}
/* line 496, ../sass/_components.scss */
.card [data-in-place], .card .inplace, .nav [data-in-place], .nav .inplace {
  cursor: pointer;
}
/* line 498, ../sass/_components.scss */
.card [data-in-place] input, .card .inplace input, .nav [data-in-place] input, .nav .inplace input {
  cursor: auto;
}
/* line 501, ../sass/_components.scss */
.card [data-in-place]:hover, .card .inplace:hover, .nav [data-in-place]:hover, .nav .inplace:hover {
  color: #d00239;
}
