Extensions_manager table th { border-bottom: 1px solid #999; padding: 5px 7px; }

.extensionOdd {
	background-color: #efefef;	
}

.extensionEven {
	background-color: #dfdfdf;
}

.bordered{
	border-right: 1px solid #aaa;	
}

#Extensions_manager table td {
	text-align: center;
	vertical-align: top;
	padding: 5px 7px;
}

#Extensions_manager table ul {
	margin: 0;
	padding: 0;
}

#Extensions_manager table li { list-style: none }

#Extensions_manager table th{
	background-color: #cfcfcf;
	border-bottom: 1px solid #aaa;	
}

.installed { color: green; }
.actions {
	text-align: right;
	padding: 3px;
}

#installProgress .progress {
	overflow: hidden;
	height: 20px;
	width: 100%;
	background-color: #999;
	border: 1px solid #666;
	border-radius: 5px;
}

#installProgress .bar {
	height: 20px;
	background-color: #6bb;
	width: 0%;
	border-radius: 5px;
}

#installProgress .console {
	background-color: black;
	font-family: monospace;
	color: white;
	font-size: 10px;
	height: 100px;
	overflow-y: scroll;
	border-radius: 5px;
	padding: 5px;
}

#installProgress .console p { margin: 0; margin-bottom: 0.5em }

#extensions-manager-container{
	margin-bottom: 20px;
}

.actions{
	background-color: #ddd;
}

#noExtensions{
	margin: 5px;
	padding: 5px;
}