/* Form layout and theme */
div#form-title{
	padding:4px;
	font-size:1em;
}
div#form-container{
	font-size:1em;
}
div.xhtml_form{
	color:#444;
	font-size:1em;
	padding-bottom:5px;
}
div.xhtml_form div{
	position:relative;
	padding:3px;
}

/* Form label */
div.xhtml_form div .form_desc{
	position:absolute;
	text-transform:capitalize;
	font-size:1em;
}

/* Form elements */
div.xhtml_form div input,
div.xhtml_form div select,
div.xhtml_form div textarea,
div.xhtml_form div.wysiwyg,
div.xhtml_form ul.form-elt-list,
div.xhtml_form div .form-elt-container{
	margin-left:30%;
}
div.xhtml_form div input.form-reverter{
	margin-left:5%;
}
div.xhtml_form div textarea{
	width: 280px;
	height: 40px;
}
div.xhtml_form div.wysiwyg{
	width: 280px;
	height: 80px;
}
div.xhtml_form div .elt_desc{
	font-weight:normal;
}
div.xhtml_form ul.form-elt-list{
	padding-left:15px;
	color:#444;
}

div.xhtml_form div .form-elt-container{
	padding:3px;
	margin-top:5px;
	margin-bottom:5px;
}
div.xhtml_form div .file-uploader{
	cursor:pointer;
	z-index:10000;
	padding:5px;
	top:15px;
	margin-bottom:15px;
	font-size:1.1em;
}

/* Form group */
div.xhtml_form div.form-group{
	border: solid 1px #ddd;
	background-color: #ddd;
	margin:5px;
	padding:3px;
	color:#3383BB;
	font-size:1.2em;
}
div.xhtml_form div.form-group div{
	background-color: #fff;
	padding:3px;
	color:#444;
	font-size:0.9em;
}

/* Form error message */
div.xhtml_form div.form-error,
div.xhtml_form div.form-group div.form-error{
	font-size:0.9em;
	font-weight:bold;
	padding:4px;
	margin:5px;
	margin-bottom:25px;
	color: #fff;
}

div#form-container div.xhtml_form div.form-elt-highlight{
	background-color:#DAE6F8;
}
div#form-container table{
	border-collapse:collapse;
	width:96%;
	margin:2% auto 2% auto;
}
div#form-container table td,
div#form-container table th{
	border: solid 1px #CCC;
} 
div#form-container table th{
	padding:5px;
}

div.form-group span.form-group-control{
	cursor:pointer;
	position:absolute;
	right: 1%;
}
