/* forms style */
div#form-title{
	padding:4px;
	font-size:0.9em;
}
div#form-container{
	font-size:0.9em;
}
div.xhtml_form{
	color:#444;
	font-size:0.9em;
}
div.xhtml_form div{
	position:relative;
	min-height:35px;
}
div.xhtml_form div .form_desc{
	position:absolute;
	text-transform:capitalize;
}
div.xhtml_form div input,
div.xhtml_form div select,
div.xhtml_form div textarea{
	margin-left:35%;
}
div.xhtml_form div input.form-reverter{
	margin-left:5%;
}
div.xhtml_form div textarea{
	width: 220px;
	height: 40px;
}
div.xhtml_form div .elt_desc{
	font-weight:normal;
}
div.xhtml_form div.form-group{
	border: solid 1px #ddd;
	background-color: #ddd;
	margin:5px;
	padding:2px;
}
div.xhtml_form div.form-group div{
	background-color: #fff;
	padding:2px;
}