body{
	position:absolute; 
	height:100%; 
	width:100%; 
	margin: 0px; 
	padding: 0px;
	background-color:#F4F4F4;
}
div#tabs,
div#home{
	position:relative; 
	top:15px;
	height: 89%; 
	width:98%;
	margin:auto;
	overflow-y: auto;
}
div#tabs div.ui-tabs-panel{
	position:absolute; 
	left:21%;
	width:74%;
}
div#section-trees{
	margin-top:0px;
	width:18%;
	left:1%;
	z-index:100;
	padding-left:12px;
	padding-top:12px;
}
div#section-actions{
	width:20%;
	left:1%;
	z-index:100;
}
div#section-actions ul{
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
div#section-actions ul li{
	margin:12px;
	padding:4px;
}
div#section-actions ul li a:hover{
	color:#BFD6FF;
}
div#home_title{
	margin:5px;
	padding:5px;
	text-align:center;
}
table{
	width:100%; 
	border-collapse:collapse;
}
body img{
	vertical-align:baseline;
}
fieldset{
	border: solid 1px #cfcfcf;
}
fieldset table tr td{ 
	padding:4px;
}
div#ajax-loading{
	display:none;
	position:absolute;
	top:45%;
	left:45%;
	z-index:1000;
}
img#logo{
	position: absolute; 
	right: 10px; 
	top: 5px;
	z-index:100;
}
div#main-menu{
	padding:4px;
	border-bottom-style:none;
}
div#main-menu span{
	border-right:solid 1px #CCC;
	padding-left:5px;
	padding-right:8px; 
}
div#main-menu span a{
	font-size:1.1em;
}
div#main-menu span a:hover{
	border-bottom: solid 2px #599FFC;
}
div.tree-actions{
	font-size:12px;
	margin-top:10px;
}
div.home-box{
	width: 200px;
	height:150px;
	text-align:center;
	margin:15px;
	padding-top:50px;
	border: solid 1px #999;
}
div.home-box a{
	color:#3383BB;
	text-decoration:none;
}
div.home-box a:hover{
	color:#8FB8FFs;
}
div.home-box-right{
	float:right;
	margin-top:0px;
 }