/* Common theme */
body{
	width:100%; 
	height:100%; 
	margin: 0px; 
	padding: 0px;
	background-color:#EEEEEE;
	font-size:12px;
	font-family:Verdana,Arial,sans-serif;
}
table{
	width:100%; 
	border-collapse:collapse;
}
body img{
	vertical-align:baseline;
}
fieldset{
	border: solid 1px #cfcfcf;
}
fieldset table tr td{ 
	padding:4px;
}
div#ajax-loading{
	display:none;
	position:absolute;
	top:45%;
	left:45%;
	z-index:1000;
}
a img{
	border-width:0px;
	text-decoration:none;
}
img.icon{
	vertical-align:middle;
	margin-right:3px;
}
a.nd{
	text-decoration:none;
}
span.elt-info{
	font-style:italic;
	color:#D00239;
}
div.breaker{
	clear:both;	
}

/* Layout */
div#tabs, div#home{
	top:15px;
	min-height:600px;
	width:99%;
	margin:auto;
}
/* --- */
/* don't change it */
div#tabs div.ui-tabs-panel{
	position:relative;
	left:0%;
	width:99%;
	padding-top:0.5%;
	padding-left:0.5%;
	padding-right:0.5%;
}
/* --- */
div.main-container{
	margin-left:0.5%;
}
img#logo{
	position: absolute; 
	right:5px; 
	top: 2px;
	z-index:1000;
}
/* Layout -> Menu */
div#main-menu{
	padding:10px 4px 0px 45px;
	border:none;
	border-width: 0px;
	height:16px;
}
div#main-menu img#menu-button{
	position:absolute;
	left:0px;
	top:4px;
	cursor:pointer;
}
div#main-menu img#menu-expander{
	margin:0px 6px 0px 10px;
	vertical-align:baseline;
	cursor:pointer;
}
div#main-menu span{
	border-right:solid 1px #CCC;
	padding-left:5px;
	padding-right:8px; 
}
div#main-menu span a{
	font-size:1.2em;
	font-weight:bold;
	color:#888;
}
div#main-menu span a:hover{
	border-bottom: solid 2px #D00239;
	color:#D00239;
}
div#main-menu span.current-extension a{
	border-bottom: solid 2px #D00239;
	color:#D00239;
}
div#main-menu span.disabled-extension{
	font-size:1.3em;
	color:#B0B0B0;
}
div#main-menu span.ghost-menu{
	display:none;
}
div#menu-popup{
	position:absolute;
	top:40px;
	left:0px;
	background-color:#fff;
	z-index:1000000;
	margin:0px;
	padding:0px;
}
div#menu-popup ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div#menu-popup ul li{
	padding:5px 35px 5px 35px;
	border:solid 1px #888;	
	font-size:1.2em;
}
div#menu-popup ul li a{
	font-weight:bold;
	color:#888;
	text-decoration:none;
	top:-1px;
}
div#menu-popup ul li a:hover{
	color:#D00239;
}
/* Layout -> Trees */
div#section-trees{
	position:absolute;
	width:19%;
	left:0%;
	top:40px;
	height:290px;
	margin:0.5%;
	z-index:100;
}
div#section-trees div.ui-widget-content{
	height:230px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:3px;
}
div.tree-actions{
	font-size:11px;
	padding:2px;
	background-color: #E0E0E0;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
}
div#section-trees div.tree-custom{
	overflow-y:auto;
}
/* Layout -> Actions */
div#section-actions{
	left:0%;
	top:340px;
	margin:0% 0.5% 0.5% 0.5%;
	padding:0px;
	text-align:left;
	width:19%;
	z-index:100;
	position:absolute;
}
div#section-actions div#action-title{
	padding: 3px;
}
div#section-actions div#action-items{ 
}
div#section-actions div#action-items td{
	text-align:center;
	vertical-align:bottom;
	padding:5px 0px 5px 0px;	
	width:33%;
}
div#section-actions div#action-items{
	font-size:10px;
	font-weight:normal;
	color:#666;
}
div#section-actions div#action-items a img{
	text-decoration:none;
	border-width: 0px;	
}
div#section-actions div#action-items a{
	text-decoration:none;
	font-weight:bold;
	color:#D1043B;
}
div#section-actions div#action-items td:hover a,
div#section-actions div#action-items a:hover{
	color:#FA648C;
}
div#section-actions ul{
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
div#section-actions ul li{
	margin:12px;
	padding:4px;
}
div#section-actions ul li a:hover{
	color:#FA648C;
}

/* Layout -> language */
div#section-lg{
	left:1%;
	margin-left:1%;
	margin-top:1%;
	padding:0px;
	text-align:left;
	width:19%;
	z-index:10000;
}
/* Layout -> metadata */
div#section-meta{
	position:absolute;
	bottom:0%;
	right:0.25%;
	width:33%;
}
div#meta-title{
	padding:3px;
	font-weight:normal;
}
div#meta-content table{
	border-collapse:collapse;
}
div#meta-content table th,
div#meta-content table td{
	width:33%;
	border: solid 1px #ccc;
	font-size:0.9em;
	color:#444;
	padding:3px;
}
div#meta-content table td{
	font-weight:normal;
}
/* Layout -> Main container */
div#preview-container{
	width:59%;
	height:100%;
	overflow-y:auto;
	float:left;
	background-color:#EFEFEF;
	color:#CCC;
	text-align:center;
	margin-right:5px;
}
div.data-container{
	width:22%;
	float:left;
	margin-right:0.5%;
	margin-bottom:0.5%;
}
div.container-title{
	padding:4px;
	font-size:1em;
}
div.container-content{
	font-size:1em;
	overflow-y: auto;
	min-height:200px;
	max-height:400px;
}
div.main-container{
	overflow-y:auto;
}
/* Layout -> footer */
div#footer{
	font-size:10px;
	width:99%;
	text-align:center;
	position:relative;
	bottom:0%;
	margin:0px;
}
/* Home Page */
div#home_title{
	margin:5px;
	margin-bottom:10px;
	padding:5px;
	text-align:center;
}
div.home-box{
	width: 180px;
	height:125px;
	text-align:center;
	margin:15px;
	padding-top:50px;
	border: solid 1px #999;
	background-color:#E2E2E2;
	background-position:bottom;
}
div.home-box a{
	color:#D00239;
	text-decoration:none;
}
div.home-box a:hover, div.home-box:hover a{
	color:#FA648C;
}
div.home-box-right{
	float:right;
	margin-top:0px;
 }
 .ui-dialog, div.ui-dialog div{
 	z-index:9999999;
}
/* Login Page */
div#login_form, div#login_title{
	width: 500px;
	margin:auto;
	padding:5px;
}
div#login_title{
	font-weight:bold;
}
div.error-message{
	width: 500px;
	margin: auto;
	margin-bottom:10px;
	padding:5px;
	font-weight:bold;
}
/* Flash Messages */
div#info-box{
	position:fixed;
	bottom:0px;
	height:90px;
	width:250px;
	right:10px;
	z-index:1000;
	padding:5px;
	text-align:center;
	border: solid 1px #bbb;
	color:#3383BB;
	font-size:1em;	
}
/* update JQuery UI styles  */
.ui-state-default{
	padding: 3px;
}
.ui-widget div.ui-widget-header{
	font-weight:bold;	
}
a.ui-state-default{
	padding:4px 8px 4px 8px;
}
a.ui-state-default:hover{
	text-decoration:none;	
}
span.ui-state-default{
	padding:4px 8px 4px 8px;
	margin:4px;
	border:solid #444 1px;
}
span.ui-state-default img{
	vertical-align:text-bottom;
}
div#authoring-container{
	left:0px;
	width:100%;
	height:600px;
}
div.ext-home-container{
	padding:1%;
	font-size:1.1em;
}

ul.sortable-list{
 	 list-style-type: none; 
	 margin: 0; 
	 padding: 0; 
}
ol.sortable-list{
	margin: 0px 0px 0px 20px; 
	padding: 0px 0px 0px 10px;
}
ul.sortable-list li,
ol.sortable-list li{
	 margin: 0 3px 3px 3px; 
	 padding: 4px; 
	 padding-left: 25px; 
	 height: 18px;
}
ul.sortable-list li:hover,
ol.sortable-list li:hover{
	color:#D00239;
	cursor: pointer;
}
ul.sortable-list li span,
ol.sortable-list li span { 
	position: absolute; 
}
ul.sortable-list li span.ui-icon-arrowthick-2-n-s,
ol.sortable-list li span.ui-icon-arrowthick-2-n-s{
	margin-left: -15px;
	z-index: 50;
}
ul.sortable-list li span.ui-icon-grip-dotted-vertical,
ol.sortable-list li span.ui-icon-grip-dotted-vertical{
	margin-left: -25px;
	z-index: 50;
}
ul.sortable-list li span.ui-icon-circle-close,
ol.sortable-list li span.ui-icon-circle-close{
	right: 10px;
	margin-top:-20px;
	z-index: 1000;
}
div#list-container{
	height:500px;	
}
div#list-container table {
	width:auto;	
}
div#list-container table td{
	width:240px;
}
div#list-container table a{
	text-decoration:none;	
}
div#list-container table a:hover{
	color: #D00239
}
div#list-container fieldset{
	width:220px;
	padding:10px;
	background-color:#fff;
}
div#list-container fieldset legend{
	font-weight:bold;
}
div#list-container fieldset div.list-elements{
	background-color:#fff;
	border: solid #777 1px;
	border-bottom-color:#bbb;
	border-right-color:#bbb;
	height:200px;
	overflow-y:scroll;
	width:220px;
	position: relative;
}
div#list-container fieldset div.list-controls{
	text-align:right;
	color:#999;
}
div#list-container li input{
	width: 100px;
	height:15px;
	padding:0px;
}