.report > .feedback-warning, .report > .feedback-error, .report > .feedback-success, .report > .feedback-info {
    border: none;
    margin: 0;
}

.hierarchical {
    background-color: transparent;
    border: none;
}