/* 
    Document   : result
    Created on : Mar 15, 2013, 2:25:29 PM
    Author     : plichart
    Description:
        Purpose of the stylesheet follows.
*/

body{
	background-color: #eee;
	font-family: Verdana, Arial, sans-serif;
	color: #3A3A3A;
}

h1{
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}

#main{
	background-color: white;
	background-position: 530px 30px;
	min-height: 320px;
	width: 740px;
	padding: 40px;
	background-repeat: no-repeat;
	margin: 100px auto;
}

#content{
	width:400px;
}

p{
	font-size:14px;
	text-align: justify;
	font-weight:normal;
	line-height:18px;
	position:relative;
	margin-bottom: 10px;
}

p strong{
	font-weight: bold;	
}

#TestTakerIdentification{
	font-style:italic;
}
#TestTakerIdentification{
	font-style:italic;
}
#name{
	font-weight:bold;
	
}
#login{
	text-decoration: underline;
	color:blue;
	text-decoration-color: blue;
}
.itemName{
    font-size:15px;
    
    text-decoration: underline;
   
}
.itemModel{
	text-decoration: underline;
	color:blue;
	font-style:italic;
}
.dataResult{
    font-weight:bold;
    text-decoration: underline;
}