@CHARSET "UTF-8";
/* Common Style */
body{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	background-color:#EEEEEE;
	font-size:12px;
	font-family:Verdana,Arial,sans-serif;
}
table{
	width:100%;
	border-collapse:collapse;
}
body img{
	vertical-align:baseline;
}
fieldset{
	border: solid 1px #cfcfcf;
}
fieldset table tr td{
	padding:4px;
}
a img{
	border-width:0px;
	text-decoration:none;
}
img.icon{
	vertical-align:middle;
	margin-right:3px;
}
a.nd{
	text-decoration:none;
}
span.elt-info{
	font-style:italic;
	color: #555555 /*#D00239*/;
}
div.breaker{
	clear:both;
}
a.blink{
	text-decoration:none;
	font-size : 1.1em;
	font-weight:bold;
	color:#444;
}
a.blink:hover{
	color:#D00239;
}
iframe{
	position:relative;
	border-width:0px;
	width:100%;
	height:100%;
	overflow-y:auto;
	min-height:500px;
}

/* Messages */
div.error-message{
	width: 500px;
	margin: auto;
	margin-bottom:10px;
	padding:5px;
	font-weight:bold;
}

div#info-box{
	position:fixed;
	bottom:0px;
	height:90px;
	width:250px;
	right:10px;
	z-index:1000;
	padding:5px;
	text-align:center;
	border: solid 1px #bbb;
	color:#3383BB;
	font-size:1em;
}

/* update JQuery UI styles  */

.ui-state-default{
	padding: 3px;
}
.ui-widget div.ui-widget-header{
	font-weight:bold;
}
a.ui-state-default{
	padding:4px 8px 4px 8px;
}
a.ui-state-default:hover{
	text-decoration:none;
}
span.ui-state-default{
	padding:4px 8px 4px 8px;
	margin:4px;
	border:solid #444 1px;
}
span.ui-state-default img{
	vertical-align:text-bottom;
}

 .ui-dialog, div.ui-dialog div{
 	/*z-index:9999999;*/
}