/*
    Document   : base
    Created on : 8 oct. 2013, 11:16:34
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
    Provides mixins and base style (link colors, etc.)
    
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/


/*
 * Mixins
 */

//the common font style
@mixin baseFont{
    color: $mainFontColor;
    background-color: $mainBgColor;
    font-size:1em;
}

//alternative font style
@mixin altFont{
    color: $altFontColor;
    background-color: $altBgColor;
    font-size:1em;
}

//inverted font style
@mixin invFont{
    color: $invFontColor;
    background-color: $invBgColor;
    font-size:1em;
    a {
        color: $invFontColor;
        font-weight: bold;
    }
}

// Apply z-index on 20 layers ($level : from -10 to 10)
@mixin zindex($level){
    z-index : ($level * $z-step);
}

//round the corners of a box
@mixin rounded(){
    @include border-radius($radius, $radius);
}

//add an extern shadow to a box  
@mixin shadow($color, $voffset, $hoffset){
    @include single-box-shadow($color, $voffset, $hoffset);
}
 
//to creates an icon element, using the jquery-ui icon set (top/left are the position in the sprite)
@mixin jui-icon($top, $left, $theme: highlight){
    
    @if $theme == grey {
         background-image: url('../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png');
    }   @else if $theme == white {
        background-image: url('../../../../tao/views/css/custom-theme/images/ui-icons_ffffff_256x240.png');
    } @else {
         background-image: url('../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png');
    }
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: $top $left;
    width:16px;
    height:16px;
    content: ' ';
}

//removes dotted outline while focusing
@mixin no-focus-outline{
    ::-moz-focus-inner, :active, :focus, ::-moz-focus-inner {
        outline: 0;
        -moz-outline-style: none;
    }
}

/*
 * Base Style
 */

.card {
    font-size:1em;
    
    color: $mainFontColor;
    background-color: $mainBgColor;
   
    @include no-focus-outline;
}

.card a {
    color: lighten($mainFontColor, 20%);
    text-decoration: none;
    font-size:1em;
    &:hover {
        color: $altFontColor;
    }
}

hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: $mainBorder;
    margin: 1em 0; 
    padding: 0;
}

.actions{
    @include no-focus-outline;
}

