/*
    Document   : variables
    Created on : 8 oct. 2013, 16:04:51
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Variables used to change the theme (as far as possible)
*/


$altColor: #d00239;
$validColor: #009933;

$mainFontColor : #333;
$mainBgColor : #fff;

$altFontColor : $altColor;
$altBgColor : #eee;

$invFontColor : $mainBgColor;
$invBgColor : $altColor;

$mainBorder: solid 1px #eee;
$contrastBorder: solid 1px #ccc;

$radius: 3px;
$highRadius: 9px;
$lowRadius:2px;

$z-higher: 100000;
$z-lower : -100000;
$z-default: 0;
$z-step: 100;
