<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout Test - Tree Loader</title>
        <base href="../../../../../" />
        <link rel="stylesheet" type="text/css" href="js/lib/qunit/qunit.css">
        <script type="text/javascript" src="js/lib/require.js"></script>
        <script type="text/javascript" src="js/lib/qunit/qunit.js"></script>
        <script type="text/javascript" src="js/lib/blanket/blanket.min.js"  data-cover-flag="branchTracking"  data-cover-only="layout/tree/loader.js"></script>
        <script  type="text/javascript">

            //don't start the test now
            QUnit.config.autostart = false;

            //load the config
            require(['/tao/ClientConfig/config'], function(){

                //inject mocks
                require.config({
                    paths : {
                        'layout/tree/provider/jstree': 'test/layout/tree/loader/jstreeMock',
                        'layout/tree/provider/resourceSelector': 'test/layout/tree/loader/resourceSelectorMock',
                    }
                });

                //load the test
                require(['test/layout/tree/loader/test'], function(){

                    //Tests loaded, run tests
                    QUnit.start();
                });
            });
        </script>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
    </body>
</html>
