#content , #error{
	margin: 40px auto 40px auto;
	width: 800px;
}

#error > div {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
}

#error > pre {
	font-size: 0.8em;
}

#title {
	padding-bottom: 9px;
	margin: 20px;
	padding-top: 8px;
	text-align: center;
}

.section {
	margin: 20px;
	font-size: 12px;
}

.section table {
	font-size: 1em;
}

.form-group {
	margin: 20px!important;
}

th {
	border-top: none!important;
}

th.leading {
	border-left: none!important;
}

th.trailing {
	border-right: none!important;
}

.test {
	width: 250px;
}

td {
	border: 1px solid #ccc;
	padding: 3px;
	vertical-align: top;
}

tr td.validity {
	text-align: center;
}

tr.valid td, tr.optional td {
	background-color: #d7ffd7;
	color: #007600;
	font-weight: bold;
}

tr.invalid td {
	background-color: #ffe0e0;
	color: #ba0000;
	font-weight: bold;
}

.form-toolbar {
	text-align: center;
}

.form-help {
	display: block;
	font-size: 10px;
	margin: 5px 0 5px 205px;
	font-style: italic;
}

.form-error {
	color: red!important;
	font-weight: bold;
}

div.xhtml_form div input, div.xhtml_form div select, .form-elt-container {
	width: 200px;
}

#submit {
	margin: 0!important;
	width: 100px;
}

#success {
	margin: 10px auto 10px auto;
	width: 500px;
}

#success img {
	margin: 20px auto;
	display: block;
}

#success h1 {
	font-size: 1.3em;
	text-align: center;
}

span.status img {
	vertical-align: middle;
	margin: 0px 2px;
}

#db_override_0 {
	width: 20px;
}


tr.optional td {
	background-color: rgb(255, 224, 206);
	color: rgb(220, 80, 0);
}

#optional-config-header, #mandatory-config-header {
	position: relative;
	bottom-margin: 10px;	
}

.expander {
	position: absolute;
	right: 5px;
	top: 4px;
	display: block;
}

#optional-config-list {
	display:none;
}