/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @inclue icon('down');
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_choice\.scss}line{font-family:\000032}}
.qti-choiceInteraction li {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\000033}}
.qti-orderInteraction .arrow-bar {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\000035}}
  .qti-orderInteraction .arrow-bar span {
    margin: 3px auto;
    font-size: 25px;
    font-size: 2.5rem;
    color: #909090;
    background: #f9f8f7;
    cursor: default;
    height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000312}}
    .qti-orderInteraction .arrow-bar span.active {
      background: #f3f1ef;
      cursor: pointer;
      color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000316}}
      .qti-orderInteraction .arrow-bar span.active:hover {
        color: white;
        background: #3e7da7; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000325}}
.qti-orderInteraction.qti-vertical .order-interaction-area {
  display: table;
  border-collapse: separate;
  border-spacing: 5px 5px 5px 0;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000344}}
.qti-orderInteraction.qti-vertical ul.source, .qti-orderInteraction.qti-vertical ul.target,
.qti-orderInteraction.qti-vertical ol.source, .qti-orderInteraction.qti-vertical ol.target {
  display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000347}}
.qti-orderInteraction.qti-vertical .arrow-bar {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000352}}
  .qti-orderInteraction.qti-vertical .arrow-bar span {
    padding: 8px 0;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000372}}
.qti-orderInteraction.qti-horizontal .arrow-bar {
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_order\.scss}line{font-family:\0000374}}
  .qti-orderInteraction.qti-horizontal .arrow-bar span {
    padding: 0 15px;
    display: inline-block;
    line-height: 1.6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_extended-text\.scss}line{font-family:\000034}}
.qti-extendedTextInteraction .solid > li, .qti-extendedTextInteraction .bordered > li {
  padding: 0;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_extended-text\.scss}line{font-family:\000038}}
.qti-extendedTextInteraction .solid ~ input, .qti-extendedTextInteraction .solid ~ textarea, .qti-extendedTextInteraction .bordered ~ input, .qti-extendedTextInteraction .bordered ~ textarea {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  -webkit-border-radius: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_extended-text\.scss}line{font-family:\0000315}}
.qti-extendedTextInteraction .active > input, .qti-extendedTextInteraction .active > textarea,
.qti-extendedTextInteraction .active input.active, .qti-extendedTextInteraction .active textarea.active {
  border-color: #3e7da7; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\000033}}
.qti-associateInteraction .result-area {
  width: 40%;
  margin: auto;
  overflow-x: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\000037}}
  .qti-associateInteraction .result-area ul {
    margin: auto;
    width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\0000310}}
    .qti-associateInteraction .result-area ul:first-child {
      margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\0000313}}
    .qti-associateInteraction .result-area ul.target.lft {
      position: relative;
      z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\0000318}}
    .qti-associateInteraction .result-area ul.target.rgt li {
      position: relative;
      z-index: 1;
      margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\0000322}}
      .qti-associateInteraction .result-area ul.target.rgt li:first-child {
        margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_associate\.scss}line{font-family:\0000327}}
    .qti-associateInteraction .result-area ul.target.rgt li:before {
      content: '';
      background: #ccc;
      width: 1000px;
      height: 1px;
      position: absolute;
      left: -1005px;
      top: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\000038}}
.block-listing > li {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: white;
  padding: 5px;
  margin: 3px;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000314}}
  .block-listing > li.active {
    border-color: #3e7da7;
    cursor: default; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000318}}
  .block-listing > li.eyecatch {
    box-shadow: 0px 0px 2px #86aec8; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000330}}
.block-listing.horizontal > li {
  display: block;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000335}}
.block-listing.solid, .block-listing.bordered {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000339}}
  .block-listing.solid.none, .block-listing.bordered.none {
    padding-left: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000343}}
.block-listing.solid {
  background: #f9f8f7;
  border: 1px solid #f9f8f7;
  border-radius: 2px;
  -webkit-border-radius: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000347}}
.block-listing.bordered {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/htdocs\/tao\/tao\/taoQTI\/views\/scss\/qti\/_qti\.scss}line{font-family:\0000353}}
.qti-interaction .empty {
  border: 1px #3e7da7 dashed;
  min-height: 50px;
  cursor: default; }
