@import 'inc/bootstrap';


@import "inc/header-footer";
@import "inc/progressbar";










#tabs {
    min-height: 620px;
    top: 0 !important;

    .ui-tabs-nav {
        margin-right: 0px;
        background-color: white();
        z-index: 1;
    }

    /* don't change it ! (used by scripting) */
    div.ui-tabs-panel {
        position: relative;
        padding: 5px 0
    }

    a {
        outline: none;
    }

    span.tab-closer {
        display: none;
    }

    li.closable a {
        padding-right: 20px;
    }

    li span.tab-closer {
        display: inline-block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background-image: url(../img/delete_disabled.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -500em;
        margin: 8px 3px 0 0;
        cursor: pointer;
        opacity: 0.5;
    }

    li:hover span.tab-closer {
        background-image: url(../img/delete.png);
        opacity: 1;
    }
}

