/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
#requirement-check {
  margin: 40px auto;
  width: 60%;
  min-width: 500px;
  max-width: 1000px; }

.version-warning {
  margin: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px #ddd solid;
  padding: 0 20px 0 45px !important;
  line-height: 2; }
  .version-warning span {
    top: 5px !important; }

#tao-main-logo {
  margin: 6px 30px 6px 30px;
  display: block;
  width: 79px;
  height: 52px; }

nav {
  position: relative;
  z-index: 1000; }
  nav li {
    float: left;
    position: relative;
    font-size: 13px;
    font-size: 1.3rem; }
    nav li > a {
      text-align: center;
      display: block;
      height: 64px;
      outline: 0 !important; }
      nav li > a [class^="icon-"], nav li > a [class*=" icon-"] {
        text-shadow: 0 0 0 transparent !important;
        line-height: 1;
        color: gainsboro;
        position: relative;
        top: 2px; }
      nav li > a:hover {
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        background: rgba(14, 93, 145, 0.5);
        text-decoration: none; }
        nav li > a:hover span {
          color: white; }
    nav li.active > a {
      background-color: #1a6596;
      opacity: 1;
      color: rgba(255, 255, 255, 0.9) !important; }
      nav li.active > a.hover {
        color: white !important; }
    nav li ul {
      background: #333333;
      position: absolute;
      left: -10000px;
      opacity: 0;
      top: 64px;
      border-top: 1px solid #666;
      padding: 5px 0 !important; }
      nav li ul li {
        display: block;
        width: 100%; }
        nav li ul li a {
          background: #333333;
          padding: 6px 20px !important;
          text-align: left;
          display: block;
          height: auto;
          white-space: nowrap; }
          nav li ul li a:hover {
            background: rgba(14, 93, 145, 0.5); }
    nav li:hover ul {
      -webkit-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      opacity: 1;
      left: 0; }
  nav .main-menu li {
    min-width: 80px;
    font-size: 13px;
    font-size: 1.3rem; }
    nav .main-menu li > a {
      padding: 13px 15px 11px; }
      nav .main-menu li > a span {
        font-size: 20px;
        font-size: 2rem;
        padding-bottom: 3px;
        display: block; }
    nav .main-menu li ul {
      min-width: 130px; }
  nav .settings-menu {
    padding-right: 20px; }
    nav .settings-menu li {
      min-width: 25px;
      font-size: 13px;
      font-size: 1.3rem; }
      nav .settings-menu li > a {
        padding: 22px 8px 0px 8px; }
        nav .settings-menu li > a span {
          font-size: 13px;
          font-size: 1.3rem;
          display: inline-block; }
        nav .settings-menu li > a [class^="icon-"], nav .settings-menu li > a [class*=" icon-"] {
          font-size: 18px;
          font-size: 1.8rem;
          padding: 0 2px; }
      nav .settings-menu li ul {
        min-width: 130px; }
      nav .settings-menu li.li-help, nav .settings-menu li.li-user_settings {
        padding-left: 15px;
        position: relative; }
        nav .settings-menu li.li-help:before, nav .settings-menu li.li-user_settings:before {
          content: ' ';
          background: #666;
          width: 1px;
          position: absolute;
          top: 25px;
          left: 7px;
          height: 20px; }
      nav .settings-menu li:hover ul {
        left: auto;
        right: 0; }

.dark-bar {
  background: #333333;
  color: #e6e6e6; }
  .dark-bar a {
    color: #e6e6e6; }
    .dark-bar a:hover {
      color: white;
      text-decoration: none; }

footer, .content-wrap:after {
  height: 34px; }

footer {
  font-size: 11px;
  padding: 10px; }
  footer a {
    text-decoration: underline; }

.content-wrap {
  min-height: 100%;
  margin-bottom: -34px; }

.content-wrap:after {
  content: "";
  display: block; }

/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
@-moz-keyframes progressbar {
  0% {
    left: -5%; }

  100% {
    left: 95%; } }

@keyframes progressbar {
  0% {
    left: -5%; }

  100% {
    left: 95%; } }

.progress-bar {
  position: relative;
  height: 5px;
  border-top: 1px #ddd solid;
  display: none;
  overflow: hidden; }
  .progress-bar.active {
    display: block; }
  .progress-bar:before {
    position: absolute;
    top: 0;
    content: '';
    height: 5px;
    width: 20%;
    display: block;
    background: -moz-linear-gradient(left, white 0%, #3e7da7 20%, #3e7da7 80%, white 100%);
    background: -webkit-linear-gradient(left, white 0%, #3e7da7 20%, #3e7da7 80%, white 100%);
    background: -o-linear-gradient(left, white 0%, #3e7da7 20%, #3e7da7 80%, white 100%);
    background: -ms-linear-gradient(left, white 0%, #3e7da7 20%, #3e7da7 80%, white 100%);
    background: linear-gradient(left, white 0%, #3e7da7 20%, #3e7da7 80%, white 100%); }
  .progress-bar:before {
    -webkit-animation: progressbar 3s linear infinite;
    animation: progressbar 3s linear infinite; }

/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
#login-box {
  width: 400px;
  margin: 40px auto 0;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #f3f1ef; }
  #login-box h1 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 20px; }
  #login-box .form-error {
    display: none; }
  #login-box #connect {
    line-height: 1.8;
    height: 25px;
    background-color: #266d9c;
    text-shadow: 1px 1px 0 #0b4a74; }

/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/**
 * Use icon within sass: @include icon('down');
 */
/*
 * Fade animation
 */
/*
 * Repeat animation
 */
.action-bar {
  background: #266d9c;
  padding: 3px;
  overflow: hidden; }
  .action-bar li {
    float: left; }
    .action-bar li a {
      padding-bottom: 1px;
      color: #e6eef4;
      text-decoration: none !important;
      outline: 0;
      display: inline-block; }
      .action-bar li a:hover {
        color: white; }
    .action-bar li span {
      text-shadow: 0 0 0 transparent;
      color: white; }
    .action-bar li input {
      width: 100%;
      font-size: 12px;
      font-size: 1.2rem;
      padding: 2px 4px; }
  .action-bar.horizontal-action-bar {
    padding: 5px;
    height: 35px; }
    .action-bar.horizontal-action-bar li {
      margin: 0 1px;
      border: 1px transparent solid;
      text-align: center;
      float: left; }
      .action-bar.horizontal-action-bar li.btn-info:hover {
        border-color: #568db2;
        opacity: 1; }
  .action-bar.tree-action-bar {
    background: #f2f0ee;
    position: relative;
    left: -1px;
    padding: 0;
    margin: 0 8px 8px 8px;
    border: 1px white solid;
    font-size: 13px;
    font-size: 1.3rem; }
    .action-bar.tree-action-bar li {
      border: 1px white solid;
      line-height: 1.3;
      padding: 0;
      text-align: center;
      float: left;
      width: 25%; }
      .action-bar.tree-action-bar li span {
        display: block;
        color: #0e5d91;
        margin: 13px auto 2px;
        font-size: 20px;
        font-size: 2rem; }
      .action-bar.tree-action-bar li a {
        display: block;
        height: 60px;
        color: #222222; }
      .action-bar.tree-action-bar li:hover {
        background: #eee;
        color: #666666; }
  .action-bar .tree-filters {
    width: 160px;
    position: relative; }
    .action-bar .tree-filters input {
      padding-right: 24px; }
    .action-bar .tree-filters span {
      position: absolute;
      right: 3px;
      color: #555;
      width: 22px;
      top: 2px;
      line-height: 20px;
      display: inline-block;
      text-align: center;
      text-shadow: 0 0 0 transparent;
      border-left: 1px solid #ddd;
      cursor: pointer; }
      .action-bar .tree-filters span.icon-close {
        display: none; }
      .action-bar .tree-filters span:hover {
        color: #0e5d91; }
  .action-bar .tree-search {
    float: right !important; }
  .action-bar.search-action-bar {
    margin-bottom: 10px; }

/* Actions box */
#action-title {
  border: none; }

#section-trees {
  margin-bottom: 10px; }

.block-title {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0 2px;
  margin: 0; }

.section-container {
  top: 0 !important; }
  .section-container .content-wrapper {
    width: 100%;
    height: 100%; }
  .section-container .content-panel {
    margin: 0; }
  .section-container .tab-container {
    height: 30px;
    border: none;
    display: none;
    background: #f2f0ee; }
    .section-container .tab-container.ui-tabs-nav {
      display: block; }
    .section-container .tab-container a {
      top: 0 !important; }
    .section-container .tab-container li.ui-state-disabled {
      display: none; }
  .section-container .navi-container {
    background: #f2f0ee;
    width: 280px;
    position: absolute; }
  .section-container .content-container {
    margin-left: 280px;
    border: none;
    border-left: 1px white solid; }
    .section-container .content-container > .ui-tabs-panel {
      border: none !important; }
      .section-container .content-container > .ui-tabs-panel #form-title {
        font-size: 20px;
        font-size: 2rem;
        margin: 10px 0;
        border: none !important; }
  .section-container .main-container .main-container #form-container {
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border-top: 1px solid #dddddd !important;
    padding: 20px;
    max-width: 550px; }

/* don't change it ! (used by scripting) - unconfirmed ! */
div.ui-tabs-panel {
  /* position: relative;
   padding: 5px 0*/ }
