@import 'inc/bootstrap';
@import "inc/header-footer";
@import "inc/progressbar";
@import "inc/login";
@import "inc/action-bars";
@import "inc/section-container";



#tabs {
    min-height: 600px;
    top: 0 !important;

    .tab-container {
        height: 32px;
        border: none;
        display:none;
        &.ui-tabs-nav {
            display:block;
        }
        li.ui-state-disabled{
            display:none;
        }
    }
    &.form-toolbar {
        text-align: right;
        margin: 10px 0 0 0;
    }
}


