<!DOCTYPE html>
<html>
    <head>
        <title>TAO's Front End Advanced Component</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../../css/tao-main-style.css" />
        <style>
            #container {
                margin: 0 20px;
            }
            #container article {
                min-height: 300px;
                padding: 10px;
            }
        </style>
        <script type="text/javascript" src="../lib/require.js"></script>
        
        <script  type="text/javascript">
            //load the config
            require(['/tao/ClientConfig/config'], function(){
                
                require(['jquery' ,'ui'], function($, ui){
                    ui.start($('#container'));
                });
                
            });
        </script>
    </head>
    <body>
        <h1>TAO's Front End Advanced Component</h1>
        <div id="container" class="tao-scope">
            
            <article class='col-3'>
                <h1>Toogling</h1>
                <a href='#' class="toggler" data-toggle="#bacon-details">Show details</a><br />
                <p id='bacon-details' class="toggled">Bacon ipsum sit amet tri-tip tenderloin boudin pork loin ball tip frankfurter. Fatback pork chop biltong chuck shoulder pancetta brisket tongue. Biltong salami short ribs, brisket t-bone ground round sausage tenderloin drumstick rump pork loin beef ribs jerky. T-bone chuck filet mignon sirloin, shankle pastrami pork chop pork belly ham hock tongue tail ground round beef jowl pork.</p>
            </article> 
            
            <article class='col-3'>
                <h1>Incrementer</h1>
                
                <input type="text" data-increment="5" data-min="0" data-max="100" />
                
            </article> 
            
            <article class='col-3'>
                <h1>Duration</h1>
                
                <input type="text" name="atime" value="00:00:00" data-duration="HH:mm:ss" />
                
            </article> 
            
            <article class='col-3'>
                <h1>In Place Edit</h1>
                
                <div>
                    <h2 data-in-place='#bacon-title' data-width='50%'>Bacon ipsum</h2>
                    <p data-in-place='#bacon-content' >sit amet tri-tip tenderloin boudin pork loin ball tip frankfurter. Fatback pork chop biltong chuck shoulder pancetta brisket tongue. Biltong salami short ribs, brisket t-bone ground round sausage tenderloin drumstick rump pork loin beef ribs jerky. T-bone chuck filet mignon sirloin, shankle pastrami pork chop pork belly ham hock tongue tail ground round beef jowl pork.</p>
                </div>
            </article> 
            
             <article class='col-3'>
                <h1>ListBox + adder + closer</h1>
                
                <div>
                    <ul id="lb" class="listbox">
                        <li>1. An item</li>
                        <li>2. An item <span class='label'>with label</span></li>
                        <li>3. Another item</li>
                        <li>4. A closable item<a href="#" class='closer' data-close=':parent' title="Close me please"></a></li>
                        <li>5. Mixed
                            <span class='label'>label</span>
                            <a href="#" class='closer' data-close=':parent' title="Close me please"></a>
                        </li>
                    </ul>
                    <a href="#" class="adder" data-add="#lb" data-content='#list-item'>Add new item</a>
                </div>
                <ul id="list-item" style="display:none;">
                    <li>A fresh new item
                        <a href="#" class='closer' data-close=':parent' title="Close me baby"></a>
                    </li>
                </ul>
            </article> 
        </div>
    </body>
</html>
