.widget-container{
    display:inline-block;
    background: $canvas;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 0;
    @include vendor-prefix(box-shadow, 0 0 2px 2px rgba($websiteBorder,.75), property, (-webkit-, -moz-, ''));
    /*display: none;*/
    z-index: 15000;
    .widget-title-bar{
        position: relative;
        color: $textHighlight;
        background: whiten($info, .2);
        cursor: move;
        a {
            color: $textHighlight;
        }
        .closer {
            position: absolute;
            top: 1px;
            right: 2px;
        }
        h3 {
            padding : 0 5px;
            margin : 0;
        }
    }
    .calcContainer{
        width : 100%;
        height : 100%;
        input{
            background-color : $uiClickableDefaultBg;
            color : $textColor;
            &:hover{
                background: $uiClickableActiveBg;
            }
            &.triggered{
                background: whiten($uiClickableHoverBg, .2);
            }
            &.calcClear{
                color : $info;
            }
            &.calcDisplay{
                background-color : whiten($uiClickableDefaultBg, .8);
                font-family: monospace;
            }
        }
    }
}