
.class-selector{

    padding: 5px;
    position: relative;

    a.selected {
        display: inline-block;
        position: relative;
        @include simple-border;
        border-radius: 3px;
        padding: 3px 10px;
        text-decoration: none;
        width: 100%;

        &:after {
            @include tao-icon-setup;
            @include icon-down;
            position: absolute;
            right: 10px;
            top: 7px;
        }
    }

    .options {

        position: absolute;
        width: 100%;
        background-color: $uiClickableDefaultBg;
        @include simple-border;
        left: 0;
        margin-top: 7px;
        overflow-y: auto;
        z-index: 100;
        max-height: 300px;
        transition: max-height 300ms ease;

        &.folded {
            overflow: hidden;
            max-height: 0;
            transition: max-height 300ms ease;
            border-width: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 0 15px;

            li {
                padding-top: 5px;

                &:before {
                    @include tao-icon-setup;
                    @include icon-folder;
                    color: $warning;
                    top: 2px;
                    text-shadow: 1px 1px 0 blacken($warning, .2);
                    margin-right: 5px;
                }
            }
        }
    }
}

