.readiness-dashboard-container {
    .dashboard-header {
        margin-bottom: 25px;
    }

    .dashboard-warning {
        font-weight: bold;
        text-align: center;
    }

    .dashboard-metrics_list {
        @include flex-container(wrap);

        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;

        &.list {
            .dashboard-metric {
                height: auto;
                width: 100%;
            }
        }
    }

    .dashboard-metric {
        background-color: $textHighlight;
        border: 1px solid $websiteBorder;
        height: 190px;
        margin-bottom: 15px;
        padding: 0 15px;
        width: 205px;
    }

    .dashboard-metric_title {
        margin-bottom: 5px;
    }

    .dashboard-metric_score-container {
        background-color: $darkBarTxt;
        border: 1px solid $websiteBorder;
        height: 10px;
        margin-bottom: 15px;
        width: 100%;
    }

    .dashboard-metric_score {
        height: 100%;
        border-right: 2px solid $websiteBorder;

        &.score-error {
            background-color: $error;
        }

        &.score-warn {
            background-color: $warning;
        }

        &.score-success {
            background-color: $success;
            border-right: none;
        }
    }

    .dashboard-metric_info {
        list-style: none;
        padding-left: 0;
    }

    .dashboard-metric_info-item {
        padding-left: 15px;
        position: relative;

        &:before {
            content: "-";
            left: 0;
            position: absolute;
        }
    }
}

@media (max-width: 900px) {
    .readiness-dashboard-container {
        .dashboard-metrics_list {
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }
    }
}
