@import "inc/bootstrap";

.listbox {

  h1 {
    font-family: $headingFont;
    @include font-size(22);
    font-weight: normal;
  }
  h2 {
    font-family: $headingFont;
    @include font-size(18);
    margin: 30px 0 10px;
  }

  &.loading {
    .loading {
      display: inline-block;
    }
    .list, .empty-list, .available-list {
      display: none;
    }
  }
  &.loaded {
    .list, .available-list {
      display: inline-block;
    }
    .loading, .empty-list {
      display: none;
    }
  }
  &.empty {
    .empty-list {
      display: inline-block;
    }
    .loading, .list, .available-list {
      display: none;
    }
  }
}