@import "inc/bootstrap";
// login screen

#login-box {
    width: 400px;
    .form-error {
        display:none;
    }
    #connect {
        @extend .btn-default;
        line-height: 1.8;
        height: 25px;
        background-color: whiten($info, .1);
        text-shadow: 1px 1px 0 blacken($info, .2);
    }
}

#select-role-box {
    width: 600px;
}

.entry-page-unit {
    @include simple-border();
    background: $uiClickableDefaultBg;
    margin-bottom: 20px;
    padding:20px;
}

.entry-pages-container {
    margin: 40px auto 0;
    h1 {
        @include font-size(17);
        margin-bottom: 20px;
    }
}