.preview-overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9995;
    position: absolute;
    left: 0;
    top: 0;
    &.preview-desktop {
        .mobile-only {
            display: none !important;
        }
    }
    &.preview-mobile {
        .desktop-only {
            display: none !important;
        }
    }
    .preview-item-container {
        background: white;
    }
    .preview-container-outer {
        display: table;
        padding: 0 0 20px 0;
        width: 100%;
        height: 100%;
    }
    .preview-utility-bar {
        background: mix(#fff, $websiteBorder, 70%);
        margin-bottom: 30px;
        z-index: 9996;
        position: relative;
    }
    .preview-utility-bar-inner {
        margin: auto;
        border-collapse: separate;
        border-spacing: 25px 0px;
        h1 {
            @include font-size(18);
            text-shadow: 1px 1px 0px #eee;
        }
        .tbl-cell {
            vertical-align: middle;
        }
        .feedback-info {
           padding: 6px 20px 5px 35px;
            position: relative;
            top: 3px;
        }
        .icon-info {
            top: 7px;
            @include font-size(15);
        }
        li {
            margin-left: 10px;
        }
        .btn-info {
            margin-top: 1px
        }
        .toogle-view {
            min-width: 185px;
        }
        .mobile-device-selector {
            min-width: 150px
        }
    }
    .desktop-preview-container {
        width: 1024px;
        background:white;
        @include simple-border();
        -webkit-box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
        -moz-box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
        box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
    }
    .desktop-preview-item-container {
        min-height: 500px;
        -webkit-box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
        -moz-box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
        box-shadow: 0px 0px 8px mix(#fff, $darkBrown, 50%);
        iframe {
            overflow: hidden;
        }
    }
    .preview-canvas {
        display: table-cell;
        text-align: center;
        * {
            text-align: left;
        }
    }
    .preview-outer-frame {
        position: relative;
        display: inline-block;
    }
    .preview-iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
    .mobile-preview-container {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        position: relative
    }

    .mobile-preview-item-container {
        height: 100%;
    }
    .mobile-preview-frame {
        &.mobile-preview-landscape {
            padding: 40px 40px;
            .mobile-device-toolbar {
                padding-right: 40px;
            }
        }
        &.mobile-preview-portrait {
            padding: 40px 40px;
            .mobile-device-toolbar {
                padding-right: 40px;
            }
        }
        position: relative;
        border: 3px #aaa ridge;
        border-radius: 25px;
        background: rgb(90, 90, 90);
        background: -moz-linear-gradient(-45deg, rgb(90, 90, 90) 0%, rgb(86, 86, 86) 7%, rgb(68, 68, 68) 15%, rgb(20, 20, 20) 30%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(90, 90, 90)), color-stop(7%, rgb(86, 86, 86)), color-stop(15%, rgb(68, 68, 68)), color-stop(30%, rgb(20, 20, 20)));
        background: -webkit-linear-gradient(-45deg, rgb(90, 90, 90) 0%, rgb(86, 86, 86) 7%, rgb(68, 68, 68) 15%, rgb(20, 20, 20) 30%);
        background: -o-linear-gradient(-45deg, rgb(90, 90, 90) 0%, rgb(86, 86, 86) 7%, rgb(68, 68, 68) 15%, rgb(20, 20, 20) 30%);
        background: -ms-linear-gradient(-45deg, rgb(90, 90, 90) 0%, rgb(86, 86, 86) 7%, rgb(68, 68, 68) 15%, rgb(20, 20, 20) 30%);
        background: linear-gradient(135deg, rgb(90, 90, 90) 0%, rgb(86, 86, 86) 7%, rgb(68, 68, 68) 15%, rgb(20, 20, 20) 30%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a5a5a', endColorstr='#141414', GradientType=1);
        -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .7);
    }
    .mobile-preview-container {
        background: white;
        border-radius: 3px;
        border: 2px solid;
        border-color: #444 #999 #999 #444;
    }
}





 