
@keyframes spin { 100% { transform:rotate(360deg); } }

.resource-selector{

    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    opacity: 0;
    &.rendered {
        opacity: 1;
        transition: opacity 300ms linear;
    }

    nav, footer {
        height: 40px;
        border-bottom: solid 1px $uiGeneralContentBorder;
    }

    nav.search {

        padding: 5px;
        background-color: #F3F1EF;
        .input {
            box-sizing: border-box;
            border-radius: 15px;
            max-width: inherit;
            width: 100%;
            padding: 4px 15px;
            color: $textColor;
            background-color : #fff;
            height: 2em;
            white-space: nowrap;
            overflow:hidden;

            br {
                display: none;
            }

            span:first-child {
                color: $warning;
                padding: 2px;
                &.closed{
                    border: solid 1px $warning;
                    border-radius: 2px;
                }
            }


            &.placeholder {
                color: #ddd;
            }
        }

        .options {
            position: absolute;
            width: 100%;
            left: 0;
            top: 40px;
            background-color: $uiClickableDefaultBg;
            z-index: 1000;
            height: auto; 
            transition: height 200ms linear;

            &.folded {
                height: 0;
                overflow: hidden;
                transition: height 200ms linear;
            }

            em {
                padding: 10px;
            }
            ul li {
                padding: 10px;
            }
        }
    }

    nav.context {

        display:flex;
        flex-flow: row nowrap;

        .class-context {
            flex : 1;

            .class-selector{
                position: static;
                .options {
                    max-height: calc(100% - 120px);
                    &.folded {
                        max-height: 0;
                    }
                }
            }
        }


        & > a {
           display: inline-block;
           width: 40px;
           height: 40px;
           padding: 10px 0 0 12px;
           background-color: $uiClickableDefaultBg;
           color: $textColor;
           border-left: solid 1px #fff;
           border-bottom: solid 1px #ddd;
           text-shadow: 0 0 0 transparent;
           text-decoration: none;

           &:hover, &.active {
                color: $uiClickableHoverBg;
                transition: color 200ms linear;
           }
        }
    }

    .status { 
        position: relative;
        padding: 5px 20px;
        color: #888;
        background-color: $uiClickableDefaultBg;
        display:none;
        color: $textColor;
        font-style: italic;

        .matches {
            text-align:center;
        }

        a {
            position: absolute;
            right: 25px;
        }
    }

    main {
        flex: 1;
        overflow-y: auto;



        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            z-index: 10;

            li {
                &.selected, &:hover{
                    background-color:  $uiClickableHoverBg;
                    color: $textHighlight;
                    cursor: pointer;
                    transition: all 300ms linear;
                }
            }

            &.list {

                li {
                    position: relative;
                    height: 60px;
                    padding: 10px;
                    border-bottom: solid 1px #ddd;

                    transition: all 200ms linear;

                    strong:after {
                        @include tao-icon-setup;
                        @include icon-checkbox;
                        color: #ddd;
                        position: absolute;
                        right: 15px;
                        top: 25px;
                    }

                    &.selected strong:after{
                        @include icon-checkbox-checked;
                        color: $textHighlight;
                    }

                    strong, em {
                        display: block;
                    }

                    em {
                        text-transform: capitalize;
                    }
                }
            }

            &.grid {
                display: flex;
                flex-flow: row wrap;

                li {
                    flex: 0 1 29%;
                    height: 75px;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    padding: 5px;
                    overflow: hidden;
                    display: block;
                    margin: 5px;
                    overflow-wrap: break-word;

                    transition: all 200ms linear;
                }
            }
        }

        &.loading {
            opacity : .6;
        }
    }

    footer {
        border-top: solid 1px #ddd;


        display: flex;
        flex-flow: row nowrap;

        p {
            flex : 1 0 auto;
            padding: 10px;
            text-align: center;
        }
        .actions {
            background-color: $uiClickableDefaultBg;
            border-left: solid 1px #ddd;
            padding: 10px 15px 10px 5px;

           a {
                color: $textColor;
                text-shadow: 0 0 0 transparent;
                text-decoration: none;

                &:hover, &.active {
                        color: $uiClickableHoverBg;
                        transition: color 200ms linear;
                }
            }
        }
    }



}
