.resource-tree{
    position: relative;
    height: 100%;
    opacity : 0;
    &.rendered {
        opacity: 1;
        @include transition(opacity, 300ms, linear);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            & > a {
                height: 40px;
                padding: 10px;
                display:block;
                width: 100%;
                padding-right: 25px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-bottom: solid 1px $uiGeneralContentBorder;
                color : $textColor;
            }
            &.class {
                &:before {
                    @include tao-icon-setup;
                    @include icon-down;
                    position: absolute;
                    right: 20px;
                    top: 10px;
                }
                & > a {
                    &:before {
                        @include tao-icon-setup;
                        @include icon-folder-open;
                        color: $warning;
                        margin-right: 3px;
                        @include vendor-prefix(text-shadow, 1px 1px 0 blacken($warning, .2), property, (-webkit-, -moz-, ''));
                    }
                }
                &.closed {
                    &:before {
                        @include icon-right;
                    }
                    & > a:before {
                        @include icon-folder;
                    }
                    & > ul {
                        display: none;
                    }
                }
            }
            &.instance {
                & > a {
                    &:before {
                        @include tao-icon-setup;
                        @include icon-checkbox;
                        color: $info;
                        position: absolute;
                        right: 17px;
                    }
                }
                &.selected > a:before {
                    @include icon-checkbox-checked;
                }
                &.selected a, &:hover a {
                    background-color: $uiClickableHoverBg;
                    color: $textHighlight;
                    cursor: pointer;
                    @include transition(all, 200ms, linear);
                    &:before {
                        color: $textHighlight;
                    }
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}
