@import 'inc/bootstrap';

%flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.section-container {
    top: 0 !important;

    .content-panel {
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
        border: none !important;
        @extend %flex-container;
    }

    .tab-container {
        border: none;
        display:none;
        &.ui-tabs-nav {
            display:block;
        }
        a {
            top: 0 !important;
        }
        li {
            top:0;
            margin: 0 1px 0px 0;
            border-top: 1px solid $canvas !important;
            border-bottom: 1px solid $canvas !important;
            a {
                margin-bottom: 0 !important;
            }
            &.ui-state-default {
                cursor:default;
                background: $canvas !important;
                margin-right: 1px !important;
                &.ui-state-active {
                    border-bottom-color: whiten($info, .25) !important;
                    border-top-color: whiten($info, .4) !important;
                    background: whiten($info, .1) !important;
                    a {
                        background: transparent !important;
                        border-color:  transparent !important;
                        color: $textHighlight !important;
                    }
                }
            }
            &.ui-state-disabled{
                display:none;
            }
        }
    }


    .navi-container {
        background:  $canvas;
        width:  $treeSidebar * 1px;
        -webkit-flex: 0 0 $treeSidebar * 1px;
        -ms-flex: 0 0 $treeSidebar * 1px;
        flex: 0 0 $treeSidebar * 1px;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        border-right: 1px $uiGeneralContentBorder solid;
        .block-title {
            @include font-size(14);
            padding: 2px 8px;
            margin: 0;
        }
        .tree-action-bar-box {
            margin: 10px 0;
            opacity: 0;
            &.active {
                opacity: 1;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
        }
    }

    .content-container {
        border: none;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }


    .content-block {
        padding: 20px;
        @extend %flex-container;
        .main-container {
            &.medium {
                -webkit-flex: 0 0 500 * 1px;
                -ms-flex: 0 0 500 * 1px;
                flex: 0 0 500 * 1px;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
            }
        }
        .data-container-wrapper {
            padding: 48px 0 0 20px;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            .data-container {
                width: $treeSidebar * 1px;
                margin: 0 20px 20px 0;
                float: left;
                .emptyContentFooter {
                    display:none;
                }
            }
        }
        #form-container.ui-widget-content {
            border:none !important
        }
        form {
            border: 1px $uiGeneralContentBorder solid;
            background: $canvas;
            padding: 30px;
            @include simple-border();
        }
        #form-title {
            @include largeHeading();
            margin: 10px 0;
            border: none !important;
        }
        [class^="btn-"], [class*=" btn-"] {
            margin: 0 2px;
        }
    }
}
