
%icon-checkbox-checked {
	content: "\e600";
}
%icon-checkbox {
	content: "\e601";
}
%icon-left {
	content: "\e602";
}
%icon-right {
	content: "\e603";
}
%icon-up {
	content: "\e604";
}
%icon-down {
	content: "\e605";
}
%icon-undo {
	content: "\e606";
}
%icon-redo {
	content: "\e607";
}
%icon-screen {
	content: "\e608";
}
%icon-laptop {
	content: "\e609";
}
%icon-tablet {
	content: "\e60a";
}
%icon-phone {
	content: "\e60b";
}
%icon-folder {
	content: "\e60c";
}
%icon-folder-open {
	content: "\e60d";
}
%icon-move {
	content: "\e60e";
}
%icon-bin {
	content: "\e60f";
}
%icon-shuffle {
	content: "\e610";
}
%icon-print {
	content: "\e611";
}
%icon-tools {
	content: "\e612";
}
%icon-settings {
	content: "\e613";
}
%icon-video {
	content: "\e614";
}
%icon-find {
	content: "\e615";
}
%icon-image {
	content: "\e616";
}
%icon-edit {
	content: "\e617";
}
%icon-document {
	content: "\e618";
}
%icon-resize-grid {
	content: "\e619";
}
%icon-resize {
	content: "\e61a";
}
%icon-help {
	content: "\e61b";
}
%icon-mobile-menu {
	content: "\e61c";
}
%icon-fix {
	content: "\e61d";
}
%icon-unlock {
	content: "\e61e";
}
%icon-lock {
	content: "\e61f";
}
%icon-ul {
	content: "\e620";
}
%icon-ol {
	content: "\e621";
}
%icon-email {
	content: "\e622";
}
%icon-radio-checked {
	content: "\e623";
}
%icon-download {
	content: "\e624";
}
%icon-logout {
	content: "\e625";
}
%icon-login {
	content: "\e626";
}
%icon-checkbox-crossed {
	content: "\e627";
}
%icon-spinner {
	content: "\e628";
}
%icon-preview {
	content: "\e629";
}
%icon-external {
	content: "\e62a";
}
%icon-time {
	content: "\e62b";
}
%icon-radio {
	content: "\e62c";
}
%icon-save {
	content: "\e62d";
}
%icon-warning {
	content: "\e62e";
}
%icon-add {
	content: "\e62f";
}
%icon-close {
	content: "\e630";
}
%icon-success {
	content: "\e631";
}
%icon-remove {
	content: "\e632";
}
%icon-info {
	content: "\e633";
}
%icon-error {
	content: "\e634";
}
%icon-users {
	content: "\e635";
}
%icon-user {
	content: "\e636";
}
%icon-test-taker {
	content: "\e637";
}
%icon-test-takers {
	content: "\e638";
}
%icon-item {
	content: "\e639";
}
%icon-test {
	content: "\e63a";
}
%icon-delivery {
	content: "\e63b";
}
%icon-result {
	content: "\e63c";
}
%icon-delivery-small {
	content: "\e63d";
}
%icon-result-small {
	content: "\e63e";
}
%icon-preview3 {
	content: "\e63f";
}
%icon-mobile-preview {
	content: "\e640";
}
%icon-extension {
	content: "\e642";
}
%icon-desktop-preview {
	content: "\e644";
}
%icon-tablet-preview {
	content: "\e645";
}
%icon-insert-horizontal-line {
	content: "\e646";
}
%icon-table {
	content: "\e647";
}
%icon-anchor {
	content: "\e648";
}
%icon-unlink {
	content: "\e649";
}
%icon-link {
	content: "\e64a";
}
%icon-right-left {
	content: "\e64b";
}
%icon-left-right {
	content: "\e64c";
}
%icon-special-character {
	content: "\e64d";
}
%icon-source {
	content: "\e64e";
}
%icon-new-page {
	content: "\e64f";
}
%icon-templates {
	content: "\e652";
}
%icon-cut {
	content: "\e653";
}
%icon-replace {
	content: "\e655";
}
%icon-copy {
	content: "\e656";
}
%icon-paste {
	content: "\e657";
}
%icon-select-all {
	content: "\e658";
}
%icon-paste-text {
	content: "\e659";
}
%icon-paste-word {
	content: "\e65a";
}
%icon-bold {
	content: "\e65b";
}
%icon-italic {
	content: "\e65c";
}
%icon-underline {
	content: "\e65d";
}
%icon-subscript {
	content: "\e65e";
}
%icon-superscript {
	content: "\e65f";
}
%icon-strike-through {
	content: "\e660";
}
%icon-decrease-indent {
	content: "\e661";
}
%icon-increase-indent {
	content: "\e662";
}
%icon-block-quote {
	content: "\e663";
}
%icon-div-container {
	content: "\e664";
}
%icon-align-left {
	content: "\e666";
}
%icon-center {
	content: "\e667";
}
%icon-align-right {
	content: "\e668";
}
%icon-justify {
	content: "\e669";
}
%icon-choice {
	content: "\e643";
}
%icon-inline-choice {
	content: "\e641";
}
%icon-match {
	content: "\e665";
}
%icon-associate {
	content: "\e66a";
}
%icon-media {
	content: "\e66b";
}
%icon-graphic-order {
	content: "\e66c";
}
%icon-hotspot {
	content: "\e66d";
}
%icon-graphic-gap {
	content: "\e66e";
}
%icon-graphic-associate {
	content: "\e66f";
}
%icon-select-point {
	content: "\e670";
}
%icon-pin {
	content: "\e673";
}
%icon-import {
	content: "\e674";
}
%icon-export {
	content: "\e675";
}
%icon-move-item {
	content: "\e676";
}
%icon-meta-data {
	content: "\e677";
}
%icon-slider {
	content: "\e678";
}
%icon-summary-report {
	content: "\e67a";
}
%icon-arrow {
	content: "\e67f";
}
%icon-text-entry {
	content: "\e67d";
}
%icon-extended-text {
	content: "\e67e";
}
%icon-eraser {
	content: "\e650";
}
%icon-row {
	content: "\e651";
}
%icon-column {
	content: "\e654";
}
%icon-text-color {
	content: "\e671";
}
%icon-background-color {
	content: "\e672";
}
%icon-spell-check {
	content: "\e679";
}
%icon-polygon {
	content: "\e681";
}
%icon-rectangle {
	content: "\e682";
}
%icon-circle {
	content: "\e684";
}
%icon-gap-match {
	content: "\e67b";
}
%icon-order {
	content: "\e685";
}
%icon-hottext {
	content: "\e67c";
}
%icon-free-form {
	content: "\e680";
}
%icon-font {
	content: "\e686";
}
%icon-step-backward {
	content: "\e687";
}
%icon-fast-backward {
	content: "\e688";
}
%icon-backward {
	content: "\e689";
}
%icon-play {
	content: "\e68a";
}
%icon-pause {
	content: "\e68b";
}
%icon-stop {
	content: "\e68c";
}
%icon-forward {
	content: "\e68d";
}
%icon-fast-forward {
	content: "\e68e";
}
%icon-step-forward {
	content: "\e68f";
}
%icon-eject {
	content: "\e690";
}
%icon-ellipsis {
	content: "\e683";
}
%icon-ok {
	content: "\e691";
}
