@import 'inc/bootstrap';

$plain : #A4A9B1;
$dark : #404040;
$red: #F06D65;
$green: #B0DE78;
$blue: #D0E9F5;

.tooltip-content{
  display: none;
}
.tooltip-inner{
  .tooltip-content{
    display: block;
  }
}


// qtip plugin legacy code
// http://qtip2.com/
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.qtip-rounded .tooltip-inner{
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
// default tooltip style
.qtip-plain .tooltip-arrow{
  border-color: $plain;
}
.qtip-plain {
  background-color: $plain
}
/*! Dark tooltip style */
.qtip-dark .tooltip-arrow{
  border-color: $dark;
}
.qtip-dark{
  background-color: $dark;
  border-color: #303030;
  color: $textHighlight;
}

.qtip-dark .tooltip-arrow{
  border-color: $dark;
}
.qtip-dark .tooltip-inner{
  background-color: $dark;
}

.qtip-dark .qtip-icon{
  border-color: $dark;
}

.qtip-dark .tooltip-inner .ui-state-hover{
  border-color: #303030;
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.qtip-rounded .tooltip-inner{
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/*! Red tooltip style */
.qtip-red{
  @extend .feedback-error;
  color: $textColor;
}
.qtip-red .tooltip-arrow{
  border-color: $red;
}
.qtip-red {
  background-color: $red;
}

.qtip-red .qtip-close .qtip-icon{
  background-position: -102px 0;
}

.qtip-red .qtip-icon{
  border-color: $textColor;
}

.qtip-red .tooltip-inner .ui-state-hover{
  border-color: $textColor;
}
/*! Green tooltip style */
.qtip-green{
  @extend .feedback-success;
  color: $textColor;
}
.qtip-green .tooltip-arrow{
  border-color: $green;
}
.qtip-green {
  background-color: $green;
}

.qtip-green .qtip-close .qtip-icon{
  background-position: -42px 0;
}
/*! Blue tooltip style */
.qtip-blue{
  @extend .feedback-info;
  color: $textColor;
}
.qtip-blue .tooltip-arrow{
  border-color: $blue;
}
.qtip-blue {
  background-color: $blue;
}

.qtip-blue .qtip-close .qtip-icon{
  background-position: -2px 0;
}
/*! Orange tooltip style */
.qtip-orange{
  @extend .feedback-warning;
  color: $textColor;
}

.qtip-orange .tooltip-inner{
  //background-color: $fbWarningBg;
}

.qtip-orange .qtip-close .qtip-icon{
  background-position: -102px 0;
}

.qtip-orange .qtip-icon{
  border-color: $textColor;
}

.qtip-orange .tooltip-inner .ui-state-hover{
  border-color: $textColor;
}
/*! Danger (mix of read and orange) tooltip style */
.qtip-danger{
  @extend .feedback-danger;
  color: $textColor;
}