<?php
/**
 * main configuration file
 *
 * @author CRP Henri Tudor - TAO Team - {@link http://www.tao.lu}
 * @license GPLv2  http://www.opensource.org/licenses/gpl-2.0.php
 *
 */
# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# views directory
define("DIR_VIEWS"			, dirname(__FILE__) . '/../views/');

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");

define('CACHE_PATH'			, dirname(__FILE__) . '/../data/cache/');


# default module name
define('DEFAULT_MODULE_NAME', 'Main');

#default action name
define('DEFAULT_ACTION_NAME', 'index');


# theme directory
$GLOBALS['dir_theme']		= "templates/";


#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/tao');
define('TAOVIEW_PATH', DIR_VIEWS);

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL.'/tao');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/views/' );
define('TAOBASE_WWW', BASE_WWW);
define('TAO_TPL_PATH', DIR_VIEWS . $GLOBALS['dir_theme']);

#export resources path
define('EXPORT_PATH', 	BASE_PATH . '/views/export');
?>