<?php
/**
 * main configuration file
 */



# plugins directory
define("DIR_PLUGIN"			, dirname(__FILE__). "/../plugins/");

# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# plugin directory
define('DIR_PLUGINS'		, dirname(__FILE__).'/../plugins/');

# views directory
define("DIR_VIEWS"			, dirname(__FILE__).'/../views/');

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");



# session namespace
define('SESSION_NAMESPACE', 'ClearFw');

# default module name
define('DEFAULT_MODULE_NAME', 'Main');

#default action name
define('DEFAULT_ACTION_NAME', 'index');

$GLOBALS['classpath']			= array(DIR_CORE,
										DIR_CORE_UTILS,
										DIR_ACTIONS,
										DIR_MODELS,
										DIR_HELPERS);
										

# theme directory
$GLOBALS['dir_theme']		= "templates/";

# language
$GLOBALS['lang']			= 'en';

#BASE PATH: the root path in the file system (usually the document root)
define('ROOT_PATH', $_SERVER['DOCUMENT_ROOT']);
define('BASE_PATH', ROOT_PATH . '/tao');

#BASE URL (usually the domain root)
define('ROOT_URL', 'http://'.$_SERVER['HTTP_HOST']);
define('BASE_URL', 'http://localhost/tao');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/' . DIR_VIEWS);
?>