body.solar-design {
    .action-bar {
        li {
            span.glyph {
                text-shadow: none;
            }
        }

        &.horizontal-action-bar {
            border-bottom: var(--border-thin) solid var(--action-bar-border-color);

            .search-area {
                margin: -2px 0 0 0;
                border-bottom: var(--border-medium) solid var(--input-border-color);

                input {
                    padding: 0 0 0 34px;
                    min-width: 260px !important;
                    width: auto;
                    border: none;
                    height: var(--input-height);
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body);
                    color: var(--input-color);

                    &:focus, &:active {
                        border: none !important;
                        outline: none !important;
                    }
                    &::placeholder {
                        color: var(--input-placeholder) !important
                    }
                }
                button {
                    font-size: var(--fontsize-body) !important;
                }
                .search-area-buttons-container {
                    right: auto;
                    left: 0;
                    top: 10px;
                }

                .icon-find,
                .icon-ul {
                    &::before {
                        color: var(--color-text-default);
                    }
                }

                .icon-find:focus,
                .icon-ul:focus {
                    border-color: var(--color-text-default);
                }
                .icon-ul {
                    .results-counter {
                        color: var(--color-text-default);
                    }
                }
            }

            li {
                &.btn-info {
                    display: flex;
                    color: var(--action-bar-color);
                    &:hover,
                    &.active {
                        border-color: var(--action-bar-color);
                    }
                    &:hover {
                        background-color: var(--button-secondary-hover-background);
                    }

                    &.save-trigger, &#saver {
                        color: var(--button-primary-info-color);
                        background-color: var(--button-primary-info-background);
                        border: none;
                        &:hover, .li-inner:hover {
                            color: var(--button-primary-info-color);
                            background-color: var(--button-primary-hover-background);
                        }
                    }
                }
                &.disabled {
                    background-color: var(--button-disabled-background) !important;
                    text-shadow: none !important;
                    opacity: 1 !important;
                    color: var(--button-disabled-color) !important;
                    border: none !important;
                    &:hover, .li-inner:hover {
                        color: var(--button-disabled-color);
                        background-color: var(--button-disabled-background);
                    }
                }
            }
        }

        &.tree-action-bar {
            background: var(--color-bg-default);
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            li {
                background: transparent;
                border: none;
                border-radius: var(--radius-pill);

                line-height: var(--button-small-height);
                height: var(--button-small-height);
                min-width: var(--button-small-height);

                padding: 0;
                width: auto;
                margin: 0;
                float: none;

                .glyph,
                .svg-glyph {
                    display: inline-block;
                    color: var(--button-secondary-color);
                    margin: 0 !important;
                    width: auto;
                    height: auto;
                    font-size: var(--fontsize-body) !important;
                }
                .li-inner {
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body-xs) !important;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: inline-flex;
                    align-items: center;
                    padding: 0 16px;
                    gap: 8px;
                    height: var(--button-small-height);
                    color: var(--button-secondary-color);
                }
                &:hover {
                    color: var(--button-secondary-color);
                    background-color: var(--button-secondary-hover-background);
                }
            }
        }
    }

    .tree-block {
        .action-bar {
            display: none;
        }
    }
}
