/*
 * Define possible border radii
 */
body.solar-design {
    --radius-small: 0.25rem;
    /*  2px */
    --radius-medium: 0.5rem;
    /*  4px */
    --radius-large: 1rem;
    /*  8px */
    --radius-xlarge: 1.5rem;
    /* 12px */

    /* creates nice circular ends without becoming an ellipse */
    --radius-pill: 666px;

    --radius-circular: 50%;

    --border-thin: 0.125rem;
    --border-medium: 0.25rem;
    --border-medium-plus: 0.375rem;
    --border-thick: 0.5rem;
    --border-fat: 1rem;
}

