body.solar-design {
    [class^="icon-"], [class*=" icon-"] {
        text-shadow: none;
    }

    .icon-info.icon {
        font-size: inherit;
        width: auto;
    }

    .icon-add::before { @include icon-sd-add; }
    .icon-folder:before { @include icon-sd-folder-closed(); }
    .icon-folder-open:before { @include icon-sd-folder-open(); }

    .settings-menu {
        .icon-settings::before { @include icon-sd-settings; }
    }

    .tree {
        .node-class {
            &.closed > a > dfn.open-close:before { @include icon-sd-right(); }
            &.open > a > dfn.open-close:before { @include icon-sd-up(); }
            & > a > ins:before { @include icon-sd-folder-closed(); }
            &.open > a > ins:before { @include icon-sd-folder-open(); }
        }
    }

    .resource-selector {
        .resource-tree {
            ul {
                li > a > .icon-folder:before { @include icon-sd-folder-open(); }
                li.closed > a > .icon-folder:before { @include icon-sd-folder-closed(); }
            }
        }
    }

    .class-selector {
        .options {
            ul {
                li:before { @include icon-sd-folder-closed(); }
            }
        }
    }
}
