body.solar-design {
    .modal {
        background-color: var(--modal-background);
        color: var(--modal-color);
        border: none;

        &.search-modal {
            background-color: var(--color-bg-default);
            color: var(--color-text-default);
        }

        .modal-close {
            display: none;
        }

        .modal-body {
            .buttons {
                button {
                    border-radius: var(--radius-pill);
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body-xs) !important;
                    font-weight: bold;

                    text-transform: uppercase;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 16px;

                    line-height: var(--button-small-height);
                    height: var(--button-small-height);
                    min-width: var(--button-small-height);

                    border: var(--border-medium) solid var(--modal-button-border-color);
                    color: var(--modal-button-color) !important;
                    background-color: var(--modal-button-background);
                    &:hover {
                        background-color: var(--modal-button-background-hover);
                        outline: none;
                    }
                    &:focus {
                        outline: var(--border-medium) dotted var(--modal-button-focus-border-color);
                    }

                    &.btn-info {
                        background-color: var(--modal-button-primary-background);
                        &:hover {
                            background-color: var(--modal-button-primary-background-hover);
                        }
                    }

                }
            }
            input[type="checkbox"] {
                &:focus ~ [class^="icon-"],
                &:focus ~ [class*=" icon-"] {
                    outline: var(--border-medium) dotted var(--modal-button-focus-border-color);
                }
            }
            .disabled, button[disabled] {
                // !important is required here to overwrite any other inherited rule no matter the specificity,
                // as the disabled style must be consistent all across the stylesheet
                background-color: var(--button-disabled-inverted-background) !important;
                color: var(--button-disabled-inverted-color) !important;
                border: var(--border-thin) solid var(--button-disabled-inverted-border-color) !important;
            }
        }
    }
    .search-modal {
        .ui-container {
            background: var(--form-background);

            .filter-container {
                & > [class^="icon-"], & > [class*=" icon-"] {
                    color: var(--input-color);
                }
                & > .icon-find {
                    top: 13px;
                }
                & > .icon-folder {
                    top: 16px;
                }
                & > .icon-down {
                    top: 8px;
                }
                & > input, & > textarea {
                    max-width: none;
                    height: var(--input-height);
                    line-height: var(--input-height);
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body);
                    color: var(--input-color);
                    border: 0;
                    border-radius: 0;
                    border-bottom: var(--border-medium) solid var(--input-border-color);
                    padding: 0 0 0 40px;

                    &:focus,
                    &:active {
                        border: none !important;
                        outline: none;
                        border-bottom: var(--border-medium) solid var(--input-border-color) !important;
                    }

                    &::placeholder {
                        color: var(--input-placeholder) !important;
                    }
                }
            }
        }
    }
}
