body.solar-design {
    .section-container {
        ul.tab-container {
            border-bottom: var(--border-thin) solid var(--action-bar-border-color);
        }
        .tab-container {
            &, &[style^="display: block"], &[style*=" display: block"], &[style^="display:block"], &[style*=" display:block"] {
                background: var(--section-background);
                color: var(--section-color);
                padding: 5px;

                & ~ .content-wrapper > .content-container > .horizontal-action-bar {
                    background: var(--section-background) !important;
                    color: var(--section-color) !important;
                    text-shadow: none !important;
                }
                li {
                    background: transparent !important;
                    border: none !important;
                    border-radius: var(--radius-pill);
                    line-height: var(--button-small-height);
                    height: var(--button-small-height);
                    min-width: var(--button-small-height);

                    a {
                        font-family: var(--font-ui);
                        font-size: var(--fontsize-body-xs) !important;
                        font-weight: bold;
                        text-transform: uppercase;
                        display: inline-flex;
                        align-items: center;
                        padding: 0 16px;
                        gap: 8px;
                        height: var(--button-small-height);
                        color: var(--button-secondary-color);
                        text-shadow: none;

                        &:focus {
                            outline: none;
                        }
                    }
                    &.active {
                        background: var(--section-background) !important;
                        border: var(--button-border-thin) solid var(--button-secondary-border-color) !important;

                        a {
                            color: var(--button-secondary-color) !important;
                        }
                    }
                    &:hover {
                        background-color: var(--button-secondary-hover-background) !important;

                        a {
                            color: var(--button-secondary-color)!important;
                        }
                    }
                    &.disabled {
                        &, &:hover {
                            background-color: var(--button-disabled-background) !important;

                            a {
                                color: var(--button-disabled-color) !important;
                            }
                        }
                    }
                }
            }
        }
        .tab-group {
            border: none;
            display: inline-flex;
            border-radius: 0;

            li {
                float: none;
                height: var(--button-small-height);

                button {
                    background: var(--section-background);
                    color: var(--section-color);
                    height: var(--button-small-height);
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body);
                    font-weight: bold;
                    border-radius: 0;

                    &:focus {
                        outline: none;
                    }
                }
                &:hover {
                    border-radius: 0;

                    button {
                        background-color: var(--color-gs-light-hover-bg);
                        border-bottom-color: var(--color-brand-hover);
                        border-radius: 0;
                        transition: none;
                    }
                }
                &.active {
                    border: none !important;

                    button {
                        border-bottom: var(--border-thick) solid var(--color-brand);
                        transition: none;
                    }
                }
            }
        }
        .flex-container-main-form {
            flex: 0 0 640px;
        }
        .usage-tabs-container {
            .datatable-wrapper {
                position: relative;

                & > .filter {
                    position: absolute;
                    top: calc(var(--input-height) * -1);
                    right: 0;
                }
            }
            .tab-selector {
                position: static;
            }
            .tab-container {
                display: block;
                padding: 0;
            }
        }

        .navi-container {
            background: var(--section-background);
            border-right: var(--border-thin) solid var(--section-border-color);

            .section-trees {
                border-bottom: var(--border-thin) solid var(--section-border-color);
            }
        }

        .destination-selector {
            > div {
                background: var(--section-background);
                border: none;
                padding: 0;
            }
            .section-title {
                font-size: var(--fontsize-heading);
                font-weight: bold;
                margin: 32px 0 24px 0;
            }
            .resource-selector {
                background: var(--color-gs-light-alternative-bg);
                border: var(--border-thin) solid var(--section-border-color);
                border-radius: var(--radius-medium);
                padding: 8px
            }
            .permissions-settings-container {
                label {
                    font-family:  var(--font-ui);
                    font-size: var(--fontsize-body);
                    line-height: 24px;
                    margin-inline-start: 12px;
                }
                input[type="radio"] {
                    @include form-sd-radio();
                }
            }
        }

        .content-block {
            .actions {
                background: var(--section-background);
            }
            .main-container {
                margin: 0 32px 32px 0;
            }
            .data-container-wrapper {
                & > section, .data-container {
                    margin: 0 32px 32px 0;

                    & > header, .ui-widget-header {
                        background: var(--section-background);
                        border-bottom: var(--border-thin) solid var(--section-border-color) !important;
                    }
                    & > footer, .data-container-footer {
                        background: var(--section-background);
                        border-top: var(--border-thin) solid var(--section-border-color) !important;
                    }
                }
                .list-container {
                    .container-title {
                        background-color: var(--section-header-background);

                        h6 {
                            font-size: var(--fontsize-heading);
                            font-weight: bold;
                            margin: 8px 0;
                        }
                    }
                    .container-content {
                        .list-element-delete-btn {
                            padding-top: 8px;
                        }
                        .list-element__input-container__uri {
                            background: var(--input-disabled-background);

                            input {
                                margin-left: -44px;
                                padding-left: 46px;
                            }
                        }
                        .list-element {
                            .title {
                                font-family: var(--font-ui);
                                font-size: var(--fontsize-body);
                                color: var(--input-color);
                                border: none;
                                border-radius: 0;
                                padding: 8px;
                                background: var(--input-disabled-background);
                            }
                        }
                    }
                    input[type="color"],
                    input[type="date"],
                    input[type="datetime"],
                    input[type="datetime-local"],
                    input[type="email"],
                    input[type="month"],
                    input[type="number"],
                    input[type="range"],
                    input[type="search"],
                    input[type="tel"],
                    input[type="time"],
                    input[type="text"],
                    input[type="password"],
                    input[type="url"],
                    input[type="week"],
                    textarea,
                    select {
                        @include form-sd-input();
                    }
                    header {
                        border-bottom: var(--border-thin) solid var(--section-border-color);
                    }
                    footer {
                        [class^="btn-"], [class*=" btn-"] {
                            font-weight: lighter;
                            width: var(--button-height);
                            height: var(--button-height);
                            line-height: var(--button-height);
                            border-radius: var(--radius-circular);
                            @include button-sd-secondary();

                            &.icon-save, &.icon-edit {
                                @include button-sd-primary();

                                &:hover {
                                    opacity: 1;
                                }
                            }
                            &[class^="icon-"]:before, &[class*=" icon-"]:before {
                                font-size: var(--fontsize-body);
                            }
                        }
                    }
                }
            }
            form:not(.list-container) {
                background: var(--section-background);
            }
            .main-container form {
                border: none;
                padding: 16px 0;
            }
        }
        h1 {
            font-size: var(--fontsize-heading-l);
            font-weight: bold;
            margin: 16px 0 32px 0;
        }
        h2 {
            font-size: var(--fontsize-heading-l);
            font-weight: bold;
            margin: 12px 0;
        }
        h3 {
            font-size: var(--fontsize-heading);
            font-weight: bold;
            margin: 12px 0;
        }
        h6 {
            font-size: var(--fontsize-heading);
            font-weight: bold;
            margin: 12px 0;
        }
        p {
            font-size: var(--fontsize-body-s);
            color: var(--color-text-feedback);
        }
        .modal-body {
            p {
                color: var(--modal-color);
            }
        }
        #installProgress {
            .progress {
                background-color: var(--color-bg-default);
                border: none;
                border-radius: 0;
            }
            .bar {
                background-color: var(--color-brand);
                border: none;
                border-radius: 0;
            }
        }
        .result-table {
            .filters-container {
                border: none;
                background: transparent;
                max-width: none;
            }
            .filter-buttons {
                display: inline-block;
                padding: 16px 0;
            }
            [class^="btn-"], [class*=" btn-"] {
                @include button-sd-secondary();
            }
        }
    }
}
