body.solar-design {
    .section-container {
        .navi-container {
            background: var(--section-background);
            border-right: var(--border-thin) solid var(--section-border-color);

            .section-trees {
                border-bottom: var(--border-thin) solid var(--section-border-color);
            }
        }

        .content-block {
            .data-container-wrapper {
                & > section, .data-container {
                    & > header, .ui-widget-header {
                        background: var(--section-background);
                        border-bottom: var(--border-thin) solid var(--section-border-color) !important;
                    }
                    & > footer, .data-container-footer {
                        background: var(--section-background);
                        border-top: var(--border-thin) solid var(--section-border-color) !important;
                    }
                }
            }

            form:not(.list-container) {
                border: none;
                background: var(--section-background);
                padding: 32px 0;
            }
        }

        h2 {
            font-size: var(--fontsize-heading-l);
        }
        h3 {
            font-size: var(--fontsize-heading);
        }
        p {
            font-size: var(--fontsize-body-s);
            color: var(--color-text-feedback);
        }
    }
}
