body.solar-design {
    .section-container {
        .navi-container {
            background: var(--section-background);
            border-right: var(--border-thin) solid var(--section-border-color);

            .section-trees {
                border-bottom: var(--border-thin) solid var(--section-border-color);
            }
        }

        .destination-selector {
            > div {
                background: var(--section-background);
                border: none;
                padding: 0;
            }
            .section-title {
                font-size: var(--fontsize-heading);
                font-weight: bold;
                margin: 32px 0 24px 0;
            }
            .resource-selector {
                background: var(--color-gs-light-alternative-bg);
                border: var(--border-thin) solid var(--section-border-color);
                border-radius: var(--radius-medium);
                padding: 8px
            }
            .permissions-settings-container {
                label {
                    font-family:  var(--font-ui);
                    font-size: var(--fontsize-body);
                    line-height: 24px;
                    margin-inline-start: 12px;
                }
                input[type="radio"] {
                    appearance: none;
                    display: inline-block;
                    width: var(--input-glyph-size);
                    height: var(--input-glyph-size);
                    padding: 2px;
                    background-clip: content-box;
                    border: var(--border-medium) solid var(--input-color);
                    background-color: var(--input-background);
                    border-radius: 50%;
                    margin-inline-end: 12px;
                    margin-bottom: -2px;
                    &:checked {
                        background-color: var(--input-color);
                    }
                    &:focus,
                    &:active {
                        border: var(--border-medium) solid var(--input-color)!important;
                    }
                }
            }
        }

        .content-block {
            .data-container-wrapper {
                & > section, .data-container {
                    & > header, .ui-widget-header {
                        background: var(--section-background);
                        border-bottom: var(--border-thin) solid var(--section-border-color) !important;
                    }
                    & > footer, .data-container-footer {
                        background: var(--section-background);
                        border-top: var(--border-thin) solid var(--section-border-color) !important;
                    }
                }
            }

            form:not(.list-container) {
                border: none;
                background: var(--section-background);
                padding: 16px 0;
            }
        }

        h2 {
            font-size: var(--fontsize-heading-l);
            font-weight: bold;
            margin: 12px 0;
        }
        h3 {
            font-size: var(--fontsize-heading);
            font-weight: bold;
            margin: 12px 0;
        }
        p {
            font-size: var(--fontsize-body-s);
            color: var(--color-text-feedback);
        }
        .modal-body {
            p {
                color: var(--modal-color);
            }
        }
        #installProgress {
            .progress {
                background-color: var(--color-bg-default);
                border: none;
                border-radius: 0;
            }
            .bar {
                background-color: var(--color-brand);
                border: none;
                border-radius: 0;
            }
        }
    }
}
