body.solar-design {
    .task-listing {
        .box {
            min-width: 400px;
            border: 0;

            .description {
                height: 40px;
                line-height: 24px;
                background: var(--color-bg-info);
                padding: 8px 16px
            }
            ul.task-list {
                border: 0;
                
                .task-element {
                    background: var(--header-bar-background);
                    height: 88px;
                    padding: 4px;
                    
                    .container-icon {
                        width: 64px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                    }

                    .container-text {
                        margin-left: 64px;
                        width: 288px;
                        padding: 12px;
                        
                        .label {
                            text-overflow: ellipsis;
                        }
                    }
                    
                    
                }
                
            }
            
            .view-detail .task-detail-element {
                background: var(--header-bar-background);
                width: 796px;
                padding: 4px;
                
                .detail-description {
                    padding: 12px;                    
                }
                
                .detail-body {
                    padding: 12px;

                }

                label.pseudo-label-box {
                    top: 20px;
                }

                [class^=feedback-] {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 16px;
                    max-width: unset;
                    padding: 20px 20px 20px 36px;

                    .message {
                        text-align: left;
                    }

                    [class^=icon-] {
                        top: 20px;
                        left: 12px;
                    }

                    .icon-info {
                        top: 12px;
                        left: 12px;
                    }
                }

            }
            .action-group {
                &.action-top {
                    top: 4px;
                    right: 4px;
                }

                &.action-bottom {
                    top: 40px;
                    right: 4px;
                }

                span[class^=icon-] {
                    @include button-sd-rounded-icon;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
    }    
}