body.solar-design {
    .tree {
        --level-padding: 20px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: var(--color-gs-light-secondary);

        ul {
            margin: 0;

            li {
                background: none;
                padding: 0;
                margin: 0;

                ins {
                    margin-inline-end: 8px;
                }
                a {
                    height: var(--tree-line-height);
                    padding-left: calc(var(--tree-level) * var(--level-padding));
                    border-width: 0 0 0 4px;
                    border-color: transparent;
                    border-style: solid;
                    border-radius: 0;
                    width: 100%;
                    font-family: var(--font-ui);

                    &, & ins {
                        font-size: var(--fontsize-body);
                        font-weight: normal;
                        line-height: var(--tree-line-height);
                        color: var(--color-text-default);
                    }
                    &:hover {
                        background-color: var(--button-secondary-hover-background);
                    }
                    &.clicked {
                        background: var(--tree-selected-background-color);
                        border-color: var(--tree-selected-border-color);
                    }
                }
            }
        }
        .node-class, .node-instance {
            & > a > ins:before {
                color: var(--color-text-default);
                text-shadow: none;
            }
        }
    }
    .resource-selector {
        .resource-list {
            ul {
                li {
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body);
                    font-weight: normal;
                    background: transparent;
                    color: var(--color-text-default);
                    border-width: 0 0 0 4px;
                    border-color: transparent;
                    border-style: solid;
                    border-radius: 0;

                    &:hover {
                        background-color: var(--button-secondary-hover-background);

                        a {
                            color: var(--color-text-default);
                        }
                    }
                    a, a:after, a > span {
                        color: var(--color-text-default);
                    }
                    a:focus {
                        outline: none;
                    }
                    &.selected, &:hover {
                        a, a:after, a > span {
                            color: var(--color-text-default);
                        }
                    }
                    &.selected {
                        background: var(--tree-selected-background-color);
                        border-color: var(--tree-selected-border-color);
                    }
                    &:hover {
                        background-color: var(--button-secondary-hover-background);
                    }
                }
            }
        }
        .resource-tree {
            .clickable {
                &:hover {
                    &:before {
                        border-radius: 0;
                        background-color: transparent;
                        opacity: 1;
                    }
                }
            }
            ul {
                li > a {
                    font-family: var(--font-ui);
                    font-size: var(--fontsize-body);
                    font-weight: normal;
                    background: transparent;
                    color: var(--color-text-default);
                    line-height: var(--tree-line-height);
                    height: var(--tree-line-height);
                    border-width: 0 0 0 4px;
                    border-color: transparent;
                    border-style: solid;
                    border-radius: 0;
                    width: 100%;

                    &:hover {
                        color: unset;
                        background-color: var(--button-secondary-hover-background);
                    }
                    &:focus {
                        outline: none;
                    }
                    & > [class^="icon-"], & > [class*=" icon-"],
                    & > .selector:after, & > .icon-folder:before {
                        color: var(--color-text-default);
                    }
                }
                li.selected > a {
                    background: var(--tree-selected-background-color);
                    border-color: var(--tree-selected-border-color);
                    color: var(--color-text-default);

                    &:hover {
                        color: unset;
                        background-color: var(--button-secondary-hover-background);
                    }
                    .clickable:hover:before {
                        background-color: transparent;
                    }
                    &:before, &:after,
                    & > .selector:after, &:hover > .selector:after,
                    & > [class^="icon-"], & > [class*=" icon-"] {
                        color: var(--color-text-default);
                    }
                }
            }
        }
    }
}
