@mixin form-sd-focus {
    &:focus, &:active {
        border-radius: 0;
        border: var(--border-thin) solid var(--input-active-border-color);
        box-shadow: 0 0 0 var(--border-thin) var(--input-active-border-color) inset;
        outline: none;
    }
}

@mixin form-sd-placeholder {
    &::placeholder {
        color: var(--input-placeholder) !important;
    }
}

@mixin form-sd-input {
    border: var(--border-thin) solid var(--input-border-color);
    border-radius: 0;
    height: var(--input-height);
    font-family: var(--font-ui);
    font-size: var(--fontsize-body);
    color: var(--input-color);
    padding: 0 12px;
    @include form-sd-focus();
    @include form-sd-placeholder();

    &.disabled, &[disabled], &[readonly] {
        color: var(--input-disabled-color);
        background: var(--input-disabled-background);
        border-color: var(--input-disabled-border-color);
        opacity: 1 !important;
    }
}

@mixin form-sd-search {
    max-width: none;
    height: var(--input-height);
    line-height: var(--input-height);
    font-family: var(--font-ui);
    font-size: var(--fontsize-body);
    color: var(--input-color);
    border: none;
    border-radius: 0;
    @include form-sd-placeholder();

    &:focus, &:active {
        border: none !important;
        outline: none;
    }
}

@mixin form-sd-search-decorator {
    &, &:focus, &:active {
        border-bottom: var(--border-medium) solid var(--input-border-color) !important;
    }
}

@mixin form-sd-radio {
    appearance: none;
    display: inline-block;
    width: var(--input-glyph-size);
    height: var(--input-glyph-size);
    padding: 2px;
    background-clip: content-box;
    border: var(--border-medium) solid var(--input-color);
    background-color: var(--input-background);
    border-radius: 50%;
    margin-inline-end: 12px;
    margin-bottom: -2px;

    &:checked {
        background-color: var(--input-color);
    }

    &:focus, &:active {
        border: var(--border-medium) solid var(--input-color) !important;
    }
}

@mixin form-sd-checkbox {
    /* Remove default styling */
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;

    &:before {
        content: "";
        margin: 12px 0;
        margin-inline-end: 12px;        
        background: var(--input-background);
        border: var(--border-medium) solid var(--color-border-default);
        border-radius: 3px;
        display: inline-block;
        height: 16px;
        position: relative;
        top: var(--border-medium);
        width: 16px;
    }

    &:checked{
        &:before {
            font-family: "tao";
            @include icon-result-ok;
        }
    }
}

@mixin form-sd-label {
    font-family: var(--font-ui);
    font-size: var(--fontsize-body);
    font-weight: bold;
    line-height: var(--input-height);

    [class^="icon-"], [class*=" icon-"] {
        font-size: var(--fontsize-body);
        color: var(--input-color);
        width: 20px;
        margin-inline-end: 12px;
    }

    abbr {
        color: var(--color-alert);
    }
}
