# Make an extension release after merging to develop branch

name: Release Tao extension

on:
  pull_request:
    branches:
      - develop
    types: [closed]
jobs:
  auto-release:
    if: github.event.pull_request.merged == true
    name: Automated Tao extension release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.SEMVER_GH_TOKEN }} #bypass branch protection rule

      - name: Configure git user
        #configuring git for runner
        run: |
          git config --global user.name "oat-github-bot"
          git config --global user.email "oat-github-bot@taotesting.com"

      - name: Release
        uses: oat-sa/extension-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.SEMVER_GH_TOKEN }}
        with:
          github_token: ${{ secrets.SEMVER_GH_TOKEN }}