.ui-generis-form {
    background-color: #f3f1ef;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    margin: 20px;
    width: 500px;
}

.ui-generis-form h1 {
    margin-top: 0;
}

.ui-generis-form .toolbar {
    margin-top: 30px;
    text-align: right;
}

.ui-generis-form .toolbar button {
    background-color: #266d9c;
    border-radius: 3px;
    height: 30px;
    margin: 0 4px;
    text-shadow: 1px 1px 0 #0b4a74;
}

.ui-generis-form.loading::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}