@import 'inc/bootstrap';

.ui-generis-form {
    position: relative;
    margin: 20px;
    width: 500px;

    h2 {
        margin-top: 0;
    }

    form {
        @include simple-border($uiGeneralContentBorder);
        background-color: $uiClickableDefaultBg;
        padding: 20px;
    }

    .toolbar {
        margin-top: 30px;
        text-align: right;

        button {
            background-color: $info;
            border-radius: 3px;
            height: 30px;
            margin: 0 4px;
            text-shadow: 1px 1px 0 #0b4a74;
        }
    }
}

@include keyframes('spinner') {
    to { transform: rotate(360deg); }
}