@import 'inc/bootstrap';

.ui-generis-form {
    position: relative;
    margin: 20px;
    width: 500px;

    h2 {
        margin-top: 0;
    }

    form {
        @include simple-border($uiGeneralContentBorder);
        background-color: $uiClickableDefaultBg;
        padding: 20px;

        fieldset {
            min-width: 0;
        }
    }

    .toolbar {
        margin-top: 30px;
        text-align: right;
    }
}

@include keyframes('spinner') {
    to { transform: rotate(360deg); }
}
