@import 'inc/bootstrap';

.ui-generis-form {
    @include simple-border($uiGeneralContentBorder);
    background-color: $uiClickableDefaultBg;
    padding: 20px;
    position: relative;
    margin: 20px;
    width: 500px;

    h2 {
        margin-top: 0;
    }

    .toolbar {
        margin-top: 30px;
        text-align: right;

        button {
            background-color: $info;
            border-radius: 3px;
            height: 30px;
            margin: 0 4px;
            text-shadow: 1px 1px 0 #0b4a74;
        }
    }

    &.loading::before {
        content: '';
        @include border-box();
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        margin-top: -45px;
        margin-left: -45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        border-top-color: #07d;
        animation: spinner .6s linear infinite;
    }
}

@include keyframes('spinner') {
    to { transform: rotate(360deg); }
}